{% extends "course/base.html" %}

{% block two_col_media %}
{% endblock %}

{% block middle_content %}
  <center>
    <h2>{{content_title}}</h2>
  </center>
  <div class="container">
    <div class="add-button-container">
      <a href="{{url('add_course_contest', course.slug)}}" class="action-btn background-green large">{{ _('Add') }}</a>
    </div>
    {% if course_contests %}
      {% for course_contest in course_contests %}
        <div class="course-contest-card">
          <div>
            <h5><a href="{{url('contest_view', course_contest.contest.key)}}" target="_blank">{{ loop.index }}. {{
              course_contest.contest.name }}</a></h5>
            <p><strong>{{_("Order")}}:</strong> {{ course_contest.order }}</p>
            <p><strong>{{_("Points")}}:</strong> {{ course_contest.points }}</p>
            <p><strong>{{_("Start")}}:</strong> {{ course_contest.contest.start_time|date(_("H:i d/m/Y")) }}</p>
            <p><strong>{{_("End")}}:</strong> {{ course_contest.contest.end_time|date(_("H:i d/m/Y")) }}</p>
          </div>
          <a href="{{url('edit_course_contest', course.slug, course_contest.contest.key)}}" class="action-btn large">{{
            _('Edit') }}</a>
        </div>
      {% endfor %}
    {% else %}
      <p style="text-align: center;">{{_("No contests available")}}</p>
    {% endif %}
  </div>
{% endblock %}