{% extends "course/base.html" %}

{% block middle_content %}
  <center><h2>{{title}}</h2></center>
  <h3 class="course-content-title">{{_("About")}}</h3>
  <div>
    {{ course.about|markdown|reference|str|safe }}
  </div>
  <h3 class="course-content-title">{{_("Lessons")}}</h3>
  <ul class="lesson-list">
    {% for lesson in lessons %}
      <a href="{{url('course_lesson_detail', course.slug, lesson.id)}}">
        {% set progress = lesson_progress[lesson.id] %}
        <li>
          <div class="lesson-title">
            {{ lesson.title }}
            <div class="lesson-points">
              {{progress['achieved_points'] | floatformat(1)}} / {{lesson.points}}
            </div>
          </div>
          <div class="progress-container">
            <div class="progress-bar" style="width: {{progress['percentage']}}%;">{{progress['percentage']|floatformat(0)}}%</div>
          </div>
        </li>
      </a>
    {% endfor %}
  </ul>
  <h3 class="course-content-title">
    {% set total_progress = lesson_progress['total'] %}
    {% set achieved_points = total_progress['achieved_points'] %}
    {% set total_points = total_progress['total_points'] %}
    {% set percentage = total_progress['percentage'] %}

    {{_("Total achieved points")}}:
    <span style="float: right; font-weight: normal;">
      {{ achieved_points | floatformat(2) }} / {{ total_points }} ({{percentage|floatformat(1)}}%)
    </span>
  </h3>
{% endblock %}