{% extends "course/base.html" %}

{% block two_col_media %}
{% endblock %}

{% block middle_content %}
  <center><h2>{{content_title}}</h2></center>
  <div class="container">
    <div class="add-button-container">
      <a href="{{ url('course_lesson_create', course.slug) }}" class="action-btn background-green large">{{ _('Add') }}</a>
    </div>
    {% if lessons %}
      {% for lesson in lessons %}
        <div class="course-lesson-card">
          <div>
            <h5><a href="{{ url('course_lesson_detail', course.slug, lesson.id) }}">{{ loop.index }}. {{ lesson.title }}</a></h5>
            <p><strong>{{_("Order")}}:</strong> {{ lesson.order }}</p>
            <p><strong>{{_("Points")}}:</strong> {{ lesson.points }}</p>
            <p><strong>{{_("Publicly Visible")}}:</strong> {% if lesson.is_visible %}{{_("Yes")}}{% else %}{{_("No")}}{% endif %}</p>
          </div>
          <a href="{{ url('edit_course_lessons_new', course.slug, lesson.id) }}" class="action-btn large">{{ _('Edit') }}</a>
        </div>
      {% endfor %}
    {% else %}
      <p style="text-align: center;">{{_("No lessons available")}}</p>
    {% endif %}
  </div>
{% endblock %}