<h4>{{ _('Submissions of') }} {{ link_user(profile) }} — {{ problem.name }}</h4>
<hr>
{% if submissions %}
  <table class="lightbox-submissions">
    <tbody>
      {% for s in submissions %}
        <tr>
          <td class="lightbox-submissions-time">{{ s.date|date(_("g:i a d/m/Y")) }}</td>
          <td class="case-{{ s.result }}">{{ s.display_point }}</td>
          <td class="case-{{ s.result }}">({{ s.short_status }})</td>
          {% if s.is_accessible_by(request.profile) %}
            <td>→ <a href="{{ url('submission_status', s.id) }}">{{ s.id }}</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if has_more %}
    <hr>
    <a href="{{ url('user_submissions', user=profile.user.username, problem=problem.code) }}" target="_blank">
      {{ _('See all submissions') }}
    </a>
  {% endif %}
{% else %}
  <p>{{ _('No submissions yet.') }}</p>
{% endif %}
