{% extends "two-column-content.html" %}

{% block two_col_media %}
{% endblock %}

{% block left_sidebar %}
  <div class="left-sidebar">
    {{ make_tab_item('list', 'fa fa-list', url('course_list'), _('Courses')) }}
  </div>
{% endblock %}

{% block middle_content %}
  <div class="course-list">
    {% for course in courses %}
      <div class="course-item">
        <div class="course-image">
          <img src="{{course.image_url}}">
        </div>
        <div class="course-content">
          <a href="{{url('course_detail', course.slug)}}" class="course-name">{{course.name}}</a>
          {% set teachers = course.get_teachers() %}
          {% if teachers %}
            <div class="course-teachers">{{_('Teachers')}}: {{link_users(teachers)}}</div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}