<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enrolling</h1>
    {% for course in enrolling %}
        <h2><a href="{{ url('course_detail',course.name) }}"> {{ course }} </a></h2>
    {% endfor %}
    <h1> Available </h1>
    {% for course in available %}
        <h2><a href="{{ url('course_detail',course.name) }}"> {{ course }} </a></h2>
    {% endfor %}
</body>
</html>