<script type="text/javascript">
  function confirmLeaveOrganization() {
    $('.leave-organization').click(function () {
      if (confirm('{{ _('Are you sure you want to leave this organization?') }}\n' +
        {% if organization.is_open %}
          '{{ _('You will have to rejoin to show up on the organization leaderboard.') }}'
        {% else %}
          '{{ _('You will have to request membership in order to join again.') }}'
        {% endif %}
      )) {
        $(this).parent().submit();
      }
    });
  }
  $(function () {
    $('.time-remaining').each(function () {
      count_down($(this));
    });
  });
</script>