<span class="organization-tag" style="gap: 0.2em;">
  <a href="{{ org.get_absolute_url() }}" style="display: flex; gap: 0.2em; align-items: center;">
    {% if org.get_organization_image_url() %}
      <img class="user-img" style="height: 1.5em; width: 1.5em;" loading="lazy" src="{{ org.get_organization_image_url() }}">
    {% endif %}
    {{ org.name }}
  </a>
  {% if edit_url %}
    <a href="{{ edit_url }}" class="organization-edit" title="{{ _('Edit') }}">
      <i class="fa fa-pencil-alt"></i>
    </a>
  {% endif %}
</span>