{% extends "user/users-table.html" %}

{% block before_point_head %}
    {% if can_edit %}
        <th class="header"></th>
    {% endif %}
{% endblock %}

{% block before_point %}
    {% if can_edit %}
        <td>
            <form action="{{ kick_url }}" method="POST" class="kick-form">
                {% csrf_token %}
                <input type="hidden" name="user" value="{{ user.id }}">
                <a href="#" class="button">{{ _('Kick') }}</a>
            </form>
        </td>
    {% endif %}
{% endblock %}
