Django>=3.2.17,<4
django_compressor>=3
django-mptt>=0.13
django-pagedown
django-registration-redux>=2.10
django-reversion>=3.0.5,<4
django-reversion-compare
django-social-share
django-sortedm2m>=3.1.0
django-impersonate
dmoj-wpadmin @ git+https://github.com/LQDJudge/dmoj-wpadmin.git
lxml
Pygments
social-auth-app-django
pytz
django-statici18n
pika
ua-parser
pyyaml
jinja2
django_jinja>=2.5.0
llist
requests
django-fernet-fields
pyotp
qrcode[pil]
jsonfield @ git+https://github.com/DMOJ/jsonfield.git
pymoss
packaging<22
celery
ansi2html @ git+https://github.com/DMOJ/ansi2html.git
sqlparse
netaddr
redis
lupa
websocket-client
python-memcached<1.60
numpy
pandas
markdown
bleach
pymdown-extensions
mdx-breakless-lists
beautifulsoup4
pre-commit
django-ratelimit