Django>=2.2,<3
django_compressor
django-mptt
django-pagedown
django-registration-redux
django-reversion
django-reversion-compare
django-social-share
django-sortedm2m @ git+https://github.com/DMOJ/django-sortedm2m.git
django-impersonate
dmoj-wpadmin @ git+https://github.com/LQDJudge/dmoj-wpadmin.git
lxml
Pygments
mistune<2
social-auth-app-django
pytz
django-statici18n
pika
ua-parser
pyyaml
jinja2
django_jinja
llist
requests
django-fernet-fields
pyotp
qrcode[pil]
jsonfield
pymoss
packaging
celery
ansi2html @ git+https://github.com/DMOJ/ansi2html.git
sqlparse
django-newsletter
netaddr
redis
lupa
websocket-client
python-memcached
numpy
pandas