{% set url_path = "/accounts/activate/" + activation_key %}
{% set title = _("Account activation") %}
{% set message = _("Thanks for registering! We're glad to have you. The last step is activating your account. Please activate your account in the next %(expiration_days)d days.", expiration_days=expiration_days) %}
{% set username = user.get_username() %}
{% set button_text = _("Activate") %}
{% set domain = site.domain %}
{% include "general_email.html" %}
<br>
{{_("Alternatively, you can reply to this message to activate your account. Your reply must keep the following text intact for this to work:")}}

<pre style="margin-left:1em">
{{ activation_key }}
</pre>

{{_("See you soon!")}}
