<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

  <head>
    <title>Contest Resolver</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ static('bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static('resolver.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="{{ static('libs/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ static('resolver.js') }}"></script>
    <!-- <script src="{{ static('resolver-main.js') }}"></script> -->
  </head>

  <body class="app">
    <div class="hidden-board">
    </div>

    <div class="info-bar">
      <div class="rank">Rank</div>
      <div class="content-tr">
        <div class="name">Name</div>
      </div>
      <div class="score">Score</div>
    </div>

    <div class="rank-list">
    </div>

    <div class="show-rank">
      <div class="rank-show"> X </div>
      <div class="name-show"> Y </div>
      <div class="school-show"> Z </div>
    </div>
    {% include "resolver/media-js.html" %}
  </body>

</html>