{% extends "organization/home-base.html" %}

{% block js_media %}
  {{ form.media.js }}
  {% include "organization/home-js.html" %}
{% endblock %}

{% block three_col_media %}
  {{ form.media.css }}
{% endblock %}

{# Render the title inside the white card so it stays readable
   against themed page backgrounds. #}
{% block middle_title %}{% endblock %}

{% block middle_content %}
  <div class="org-form-card">
    {% if title or content_title %}
      <center><h2>{{ content_title if content_title else title }}</h2></center>
    {% endif %}
    {% include "organization/form.html" %}
  </div>
{% endblock %}