{% extends "organization/home-base.html" %}

{% block org_js %}
  {% include "organization/blog/pending-js.html" %}
{% endblock %}

{% block middle_content %}
  {% for post in blogs %}
    <section class="{% if post.sticky %}sticky {% endif %} blog-box" id="post-{{post.id}}">
      <div style="margin-bottom: 0.5em">
        <span class="post-content-header time">
          {% with authors=post.get_authors() %}
            {%- if authors -%}
              <span class="user-img" style="width: 1.5em; height: 1.5em">
                <img src="{{gravatar(authors[0].id)}}" loading="lazy">
              </span>
              <span class="post-authors">{{ link_users(authors) }}</span>
            {%- endif -%}
          {% endwith %}
          &#8226;
          {{ relative_time(post.publish_on) }}
          {%- if post.sticky %} &#8226;
            <i title="Sticky" class="fa fa-star fa-fw"></i>{% endif -%}
        </span>
      </div>
      <h2 class="title">
        <a href="{{ url('blog_post', post.id, post.slug) }}">{{ post.title }}</a>
      </h2>
      <div class="blog-description">
        <div class="summary content-description">
          {% cache 86400 'post_content' post.id %}
            {{ post.content|markdown(lazy_load=True)|reference|str|safe }}
          {% endcache %}
        </div>
        <div class="show-more"> {{_("...More")}} </div>
      </div>
      {% if request.profile.can_edit_organization(org) %}
        <div class="actionbar-box">
          <div class="actionbar {{'hide_texts_on_mobile' if hide_texts_on_mobile}}">
            <span class="actionbar-block">
              <a class="actionbar-button white background-green" href="#" onclick="javascript:approvePost('{{ url('edit_organization_blog', org.id , org.slug , post.id) }}', {{ post.id }}, event)">
                <i class="fa fa-check" style="font-size: large;"></i>
                <span class="actionbar-text">{{_("Approve")}}</span>
              </a>
            </span>
            <span class="actionbar-block">
              <a class="actionbar-button black" href="{{ url('edit_organization_blog', org.id , org.slug , post.id) }}">
                <i class="fa fa-edit" style="font-size: large;"></i>
                <span class="actionbar-text">{{_("Edit")}}</span>
              </a>
            </span>
            <span class="actionbar-block">
              <a class="actionbar-button white background-red" href="#" onclick="javascript:rejectPost('{{ url('edit_organization_blog', org.id , org.slug , post.id) }}', {{ post.id }}, event)">
                <i class="fa fa-times" style="font-size: large;"></i>
                <span class="actionbar-text">{{_("Reject")}}</span>
              </a>
            </span>
          </div>
        </div>
      {% endif %}
    </section>
  {% endfor %}
  {% include "feed/has_next.html" %}
{% endblock %}