{% extends "two-column-content.html" %}
{% set page_type = 'problems' %}

{% block left_sidebar %}
  {% set title = contest.name %}
  {% include "contest/contest-tabs.html" %}
{% endblock %}

{% block two_col_media %}
  {{ form.media.css }}
  <style>
    form#clarification-form {
      display: block;
      margin: 0;
      width: 100%;
      max-width: 750px;
      padding-top: 1em;
    }

    #id_title {
      width: 100%;
    }

    #problem-select {
      max-width: 100%;
    }

    form#clarification-form .submit {
      margin: 10px 0 0 auto;
    }
  </style>
{% endblock %}

{% block js_media %}
  {{ form.media.js }}
  <script>
    $(function() {
      $('#problem-select').select2({width: '100%'});
    });
  </script>
{% endblock %}

{% block middle_content %}
  <h2 class="contest-form-title">{{ content_title or title }}</h2>
  <form id="clarification-form" action="" method="POST" class="form-area">
    {% csrf_token %}
    {% if form.body.errors %}
      <div class="form-errors">
        {{ form.body.errors }}
      </div>
    {% endif %}
    <h4>
      <span>{{_('Target')}}: </span>
      <select name="problem" id="problem-select">
        <option value="__contest__" class="point-dropdown">
          {{ _('Entire contest') }}
        </option>
        {% for problem in problems %}
          <option value="{{ problem.problem.code }}" class="point-dropdown">
            {{ problem.order }}. {{problem.problem.name}}
          </option>
        {% endfor %}
      </select>
    </h4>
    <div class="body-block">{{ form.body }}</div>
    <button type="submit" class="action-btn">{{ _('Create') }}</button>
  </form>
{% endblock %}
