{% extends "base.html" %}

{% block media %}
  <style>
    #contest-clone-panel {
      position: relative;
      margin: 5em auto auto -10em;
      top: 40%;
      left: 50%;
    }

    #contest-key-container {
      margin: 0.5em 0;
    }

    #id_key {
      width: 100%;
    }

    ul.errorlist {
      list-style-type: none;
      padding-left: 0;
      text-align: center;
    }

    .hidden-field {
      display: none;
    }
  </style>
{% endblock %}

{% block js_media %}
  <script type="text/javascript">
    $(function () {
      $("#id_organization").select2({
        placeholder: $("#id_organization").data("placeholder"),
        width: "100%",
      });
      $("#id_course").select2({
        placeholder: $("#id_course").data("placeholder"),
        width: "100%",
      });

      function toggleFields() {
        const selectedType = $('input[name="target_type"]:checked').val();
        if (selectedType === "organization") {
          $("#organization-container").show();
          $("#course-container").hide();
        } else if (selectedType === "course") {
          $("#organization-container").hide();
          $("#course-container").show();
        }
      }

      $('input[name="target_type"]').on("change", toggleFields);

      toggleFields();
    });
  </script>
{% endblock %}

{% block body %}
  <form id="contest-clone-panel" action="" method="post" class="form-area">
    {% csrf_token %}

    <div>
      <label class="inline-header grayed">{{ _('Enter a new key for the cloned contest:') }}</label>
    </div>
    <div id="contest-key-container">
      <span class="fullwidth">{{ form.key }}</span>
    </div>

    <div style="margin-top: 1em;">
      <label class="inline-header grayed">{{ _('Choose target type:') }}</label>
    </div>
    <div style="margin-top: 0.3em;">
      {{ form.target_type }}
    </div>

    <div style="margin-top: 1em;">
      <div id="organization-container" class="hidden-field">
        <label class="inline-header grayed">{{ _('Select a group:') }}</label>
        <div style="margin-top: 0.3em;">
          {{ form.organization }}
        </div>
      </div>

      <div id="course-container" class="hidden-field">
        <label class="inline-header grayed">{{ _('Select a course:') }}</label>
        <div style="margin-top: 0.3em;">
          {{ form.course }}
        </div>
      </div>
    </div>

    {% if form.errors %}
      <ul style="color: red;">
        {% for field_name, error_list in form.errors.items() %}
          <li>{{ error_list.0 }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <hr>
    <button style="float: right;" type="submit" class="action-btn">{{ _('Clone!') }}</button>
  </form>
{% endblock %}