{% extends "two-column-content.html" %}
{% set page_type = 'detail' %}

{% block left_sidebar %}
  {% set title = contest.name %}
  {% include "contest/contest-tabs.html" %}
{% endblock %}

{% block js_media %}
  {% include "contest/media-js.html" %}
  {% include "comments/media-js.html" %}
  {% include "actionbar/media-js.html" %}
  {% include "contest/contest-datetime-js.html" %}
  {% include "contest/pdf-problemset-js.html" %}
  <script type="text/javascript">

    $(function () {
      initContestProblemsetPdf('{{ url("contest_problemset", contest.key) }}');
    });
  </script>
{% endblock %}

{% block two_col_media %}
  {% include "comments/media-css.html" %}
{% endblock %}

{% block middle_content %}
  {% include "contest/contest-datetime.html" %}

  {% if request.user.is_authenticated %}
    {% if contest.can_join or is_editor or is_tester %}
      {% set in_contest = contest.is_in_contest(request.user) %}
      {% if contest.ended %}
{# Allow users to leave the virtual contest #}
        {% if in_contest %}
          <form action="{{ url('contest_leave', contest.key) }}" method="post" class="contest-join-pseudotab">
            {% csrf_token %}
            <input type="submit" class="action-btn large leaving-forever" value="{{ _('Leave contest') }}">
          </form>
        {% else %}
{# Allow users to virtual join #}
          <form action="{{ url('contest_join', contest.key) }}" method="post" class="contest-join-pseudotab">
            {% csrf_token %}
            <input type="submit" class="action-btn large" value="{{ _('Virtual join') }}">
          </form>
        {% endif %}
      {% else %}
{# Allow users to leave the contest #}
        {% if in_contest %}
          <form action="{{ url('contest_leave', contest.key) }}" method="post" class="contest-join-pseudotab">
            {% csrf_token %}
            <input type="submit" class="action-btn large" value="
                                                                 {%- if request.participation.spectate %}
                                                                   {{- _('Stop spectating') -}}
                                                                 {% else %}
                                                                   {{- _('Leave contest') -}}
                                                                 {% endif %}">
          </form>
        {% elif is_editor or is_tester or live_participation.ended %}
          <form action="{{ url('contest_join', contest.key) }}" method="post" class="contest-join-pseudotab">
            {% csrf_token %}
            <input type="submit" class="action-btn large" value="{{ _('Spectate contest') }}">
          </form>
        {% else %}
          <form action="{{ url('contest_join', contest.key) }}" method="post" class="contest-join-pseudotab">
            {% csrf_token %}
            <input type="submit" class="action-btn large {% if not has_joined %}first-join{% endif %}"
                   value="{{ _('Join contest') }}">
          </form>
        {% endif %}
      {% endif %}
    {% endif %}
  {% elif contest.can_join %}
    <form action="{{ url('auth_login') }}" method="get" class="contest-join-pseudotab unselectable">
      <input type="hidden" name="next" value="{{ LOGIN_RETURN_PATH|urlencode }}">
      <input type="submit" class="action-btn large" value="{{ _('Login to participate') }}">
    </form>
  {% endif %}
  <div style="clear: both"></div>

  {% if contest.is_organization_private %}
    <div style="display: flex; margin-bottom: 1em">
      {% for org in organizations %}
        {% with edit_url = url('organization_contest_edit', org.id, org.slug, contest.key) if org in editable_organizations
        else None %}
        {% include "organization/tag.html" %}
      {% endwith %}
  {% endfor %}
  </div>
{% endif %}

{% if course %}
  <div style="display: flex; margin-bottom: 1em">
    {% with edit_url = url('edit_course_contest', course.slug, contest.key) if is_editable_course else None %}
      {% include "course/tag.html" %}
    {% endwith %}
  </div>
{% endif %}

<div style="padding: 0 1em;">
  {{ contest.description|markdown|reference|str|safe }}
</div>

{% if contest.ended or request.user.is_superuser or is_editor or is_tester %}
  <hr>
  <div class="contest-problems">
    <h2 style="margin-bottom: 0.2em"><i class="fa fa-fw fa-question-circle"></i>{{ _('Problems') }} </h2>
    <table id="contest-problems" class="table">
      <thead>
        <tr>
          <th>{{ _('Problem') }}</th>
          <th>{{ _('Points') }}</th>
          <th>{{ _('AC Rate') }}</th>
          <th>{{ _('Users') }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for problem in contest_problems %}
          <tr>
            <td>
              {% if problem.is_public %}
                <a href="{{ url('problem_detail', problem.code) }}">{{ problem.translated_name(LANGUAGE_CODE)
                  }}</a>
              {% else %}
                {{ problem.translated_name(LANGUAGE_CODE) }}
              {% endif %}
            </td>
            <td>{{ problem.points|floatformat }}{% if problem.partial %}p{% endif %}</td>
            <td>{{ problem.ac_rate|floatformat(1) }}%</td>
            <td>
              {% if problem.is_public %}
                <a href="{{ url('ranked_submissions', problem.code) }}">{{ problem.user_count }}</a>
              {% else %}
                {{ problem.user_count }}
              {% endif %}
            </td>
            <td>
              {% if problem.is_public and problem.has_public_editorial() %}
                <a href="{{ url('problem_editorial', problem.code) }}">{{ _('Editorial') }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div style="margin-top: 1em; display: flex; justify-content: space-between; padding-right: 1em; font-size: 1.1em;">
      <a href="{{ url('contest_problemset', contest.key) }}">
        <i class="fa fa-book black"></i> {{ _('Complete problemset') }}
      </a>
      <a href="#" id="pdf_button">
        <i class="fa fa-file-pdf red"></i> {{ _('View as PDF') }}
      </a>
    </div>
  </div>
  <hr>
{% endif %}
<div style="clear: both"></div>
<br>
{% include "actionbar/list.html" %}
<br>
{% include "comments/list.html" %}
<iframe name="raw_problemset" id="raw_problemset" style="visibility: hidden;width: 0; height: 0;"></iframe>
{% endblock %}