<div id="banner" class="contest-banner">
  <h2 class="contest-title"><a href="{{ url('contest_view', contest.key) }}">{{ contest.name }}</a></h2>
  <div class="contest-status">
    {%- if contest.is_in_contest(request.user) and not request.participation.live -%}
      {% if request.participation.spectate %}
        <span class="status-text">{% trans countdown=contest.end_time|as_countdown %}Spectating, contest ends in {{countdown}}.{% endtrans %}</span>
      {% elif request.participation.end_time %}
        <span class="status-text">{% trans countdown=request.participation.end_time|as_countdown %}Participating virtually, {{countdown}} remaining.{% endtrans %}</span>
      {% else %}
        <span class="status-text">{{- _('Participating virtually.') -}}</span>
      {% endif %}
    {%- else -%}
      {% if contest.start_time > now %}
        <span class="status-text status-upcoming">{% trans countdown=contest.start_time|as_countdown %}Starting in {{countdown}}.{% endtrans %}</span>
      {% elif contest.end_time < now %}
        <span class="status-text status-ended">{{- _('Contest is over.') -}}</span>
      {% else %}
        {%- if has_joined -%}
          {% if live_participation.ended %}
            <span class="status-text">{% trans countdown=contest.end_time|as_countdown %}Your time is up! Contest ends in {{countdown}}.{% endtrans %}</span>
          {% else %}
            <span class="status-text status-active">{% trans countdown=live_participation.end_time|as_countdown %}You have {{countdown}} remaining.{% endtrans %}</span>
          {% endif %}
        {%- else -%}
          <span class="status-text status-active">{% trans countdown=contest.end_time|as_countdown %}Contest ends in {{countdown}}.{% endtrans %}</span>
        {%- endif -%}
      {% endif %}
    {%- endif -%}
  </div>
  <div class="contest-time-info">
    {% if contest.time_limit %}
      {% trans trimmed start_time=contest.start_time|date(_("F j, Y, G:i T")), end_time=contest.end_time|date(_("F j, Y, G:i T")), time_limit=contest.time_limit|timedelta('localized-no-seconds') %}
        {{ time_limit }} window between {{ start_time }} and {{ end_time }}
      {% endtrans %}
    {% else %}
      {% trans trimmed length=contest.contest_window_length|timedelta("localized-no-seconds"), start_time=contest.start_time|date(_("F j, Y, G:i T")) %}
        {{ length }} long starting on {{ start_time }}
      {% endtrans %}
    {% endif %}
  </div>
  {% if contest.freeze_after and contest.freeze_after + contest.start_time < now %}
    <div class="contest-freeze-info">
      {{_("Standing was frozen")}} {{_("at")}} {{ (contest.freeze_after + contest.start_time) | date(_("F j, Y, G:i T")) }}
    </div>
  {% endif %}
</div>
