{% extends "contest/list.html" %}
{% from "contest/macros.html" import contest_empty, standard_contest_card %}

{% block middle_content %}
  {% if contests %}
    {% for contest in contests %}
      {% set is_future = contest.start_time > now %}
      {% set is_current = contest.start_time <= now and contest.end_time >= now %}
      {{ standard_contest_card(
      contest,
      request,
      'future' if is_future else ('current' if is_current else 'past'),
      organization=organization,
      can_spectate=contest.id in spectatable_contest_ids,
      progress=contest_progress.get(contest.id) if not is_future and not is_current else none,
      ) }}
    {% endfor %}
    {% if page_obj and page_obj.num_pages > 1 %}
      <div class="contest-list-pagination">
        {% include "list-pages.html" %}
      </div>
    {% endif %}
  {% else %}
    {{ contest_empty(_('No recommended contests available.'), now) }}
  {% endif %}
{% endblock %}
