<div class="sidebox">
  <h3 class="colored-text"><i class="fa fa-search"></i>{{ _('Contest search') }}</h3>
  <div class="sidebox-content">
    <form id="filter-form" method="GET">
      <input id="search-contest" type="text" name="contest" value="{{ contest_query or '' }}"
             placeholder="{{ _('Search contests...') }}">
      {% if organizations %}
        <div style="margin-bottom: 1em;">
          <input id="hide_organization_contests" type="checkbox" name="hide_organization_contests" value="1" {% if hide_organization_contests %}checked{% endif %}>
          <label for="hide_organization_contests">{{ _('Hide organization contests') }}</label>
        </div>
        <label for="search-org" class="bold-text margin-label">{{ _('Group') }}</label>
        <select id="search-org" name="orgs" multiple>
          {% for org in organizations %}
            <option value="{{ org.id }}"{% if org.id in org_query %} selected{% endif %}>
              {{ org.name }}
            </option>
          {% endfor %}
        </select>
      {% endif %}
      <div class="filter-form-group">
        <label for="order" class="bold-text margin-label">{{ _('Order by') }}</label>
        <select id="order" name="order" style="width: 100%">
          <option value="">---</option>
          {% for value, name in all_sort_options %}
            <option value="{{value}}"{% if selected_order == value%} selected{% endif %}>
              {{ name }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="form-submit-group">
        <a id="go" class="button small">{{ _('Go') }}</a>
        {% if create_url %}
          <a href="{{ create_url }}" class="button small"><i class="fa fa-plus"></i> {{ _('Create') }}</a>
        {% endif %}
      </div>
    </form>
  </div>
</div>