{% extends "organization/home-base.html" %}
{% from "widgets/sortable_formset.html" import sortable_formset %}

{% block js_media %}
  {{ form.media.js }}
  {{ problems_form.media.js }}
  {{ quizzes_form.media.js }}
  <script src="{{ static('jquery-ui.min.js') }}"></script>
  <script src="{{ static('widgets/sortable_formset.js') }}"></script>
{% endblock %}

{% block three_col_media %}
  {{ form.media.css }}
  <style>
    #org-field-wrapper-scoreboard_visibility,
    #org-field-wrapper-points_precision,
    #org-field-wrapper-start_time,
    #org-field-wrapper-end_time,
    #org-field-wrapper-time_limit,
    #org-field-wrapper-format_name,
    #org-field-wrapper-freeze_after,
    #org-field-wrapper-rate_limit {
      display: inline-flex;
    }
    .problems-problem {
      max-width: 60vh;
    }
    input[type=number] {
      width: 5em;
    }
    .middle-content {
      z-index: 1;
    }
    #three-col-container {
      overflow: auto;
    }
    #format_config-field {
      display: none;
    }
    .config-toggle-btn {
      padding: 2px 6px;
      border-radius: 3px;
      font-size: 0.85em;
      cursor: pointer;
      margin-left: 5px;
    }
  </style>
{% endblock %}

{% block middle_content %}
  <form action="" method="post">
    {% csrf_token %}
    {% if form.errors or problems_form.errors or quizzes_form.errors %}
      <div class="alert alert-danger alert-dismissable">
        <a href="#" class="close">x</a>
        {{_("Please fix below errors")}}
      </div>
    {% endif %}
    {% for field in form %}
      {% if not field.is_hidden %}
        <div style="margin-bottom: 1em;" id="{{field.html_name}}-field">
          {{ field.errors }}
          <label for="{{field.id_for_label }}"><b>{{ field.label }}{% if field.field.required %}<span class="red"> * </span>{% endif %}:</b> </label>
          <div class="org-field-wrapper" id="org-field-wrapper-{{field.html_name }}">
            {{ field }}
          </div>
          {% if field.help_text %}
            <small class="org-help-text">
              <i class="fa fa-exclamation-circle"></i>{{ field.help_text|safe }}
              {% if field.html_name == 'format_name' %}
                <a href="{{ url('contest_format_instructions') }}" target="_blank">
                  ({{ _('Instruction') }})
                </a>
                <button type="button" class="config-toggle-btn" onclick="toggleFormatConfig()">
                  {{ _('Config') }}
                </button>
              {% endif %}
            </small>

          {% endif %}
        </div>
      {% endif %}
    {% endfor %}

    <hr><br>
    <h3>{{ _('Problems') }}</h3>
    {{ sortable_formset(problems_form, {
    'order_field': 'order',
    'add_text': _('Add Problem'),
    'empty_text': _('No problems added yet.')
    }) }}

    <hr><br>
    <h3 style="display: flex; align-items: center; gap: 0.5em;">
      {{ _('Quizzes') }}
      <a href="{{ url('quiz_create') }}" target="_blank" style="font-size: 0.8em; font-weight: normal;">
        <i class="fa fa-plus"></i> {{ _('Create Quiz') }}
      </a>
    </h3>
    {{ sortable_formset(quizzes_form, {
    'order_field': 'order',
    'add_text': _('Add Quiz'),
    'empty_text': _('No quizzes added yet.')
    }) }}

    <button type="submit" class="action-btn">{{ _('Save') }}</button>
  </form>

  <script>
    function toggleFormatConfig() {
      var $configField = $('#format_config-field');
      var $toggleBtn = $(event.target);

      if ($configField.is(':hidden')) {
        $configField.show();
        $toggleBtn.text('{{ _("Hide Config") }}');
      } else {
        $configField.hide();
        $toggleBtn.text('{{ _("Config") }}');
      }
    }

    $(document).ready(function() {
      var $configField = $('#format_config-field');
      var $configErrors = $configField.find('.errorlist, .red');
      var hasErrors = $configErrors.length > 0 || $configField.find('input, textarea').hasClass('error');

      if (hasErrors) {
        $configField.show();
        $('.config-toggle-btn').text('{{ _("Hide Config") }}');
      }
    });
  </script>
{% endblock %}