@import "vars";

.list-contest {
    box-shadow: 0px 4px 8px rgba(4, 83, 67, 0.2), 0px 6px 20px rgba(4, 83, 67, 0.19);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;

    .info-contest {
        flex: 1;
    }

    .participate-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contest-title {
        font-size: 17px;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 10px;
    }
}

#contest-calendar {
    border-collapse: collapse;
    width: 100%;

    th {
        border-bottom: 1px solid $border_gray;

        &.sun {
            border-left: 1px solid $border_gray;
        }

        &.sun, &.mon, &.tue, &.wed, &.thu, &.fri, &.sat {
            font-size: 0.95em;
            border-right: 1px solid $border_gray;
            background: $background_light_gray;
        }
    }

    td {
        height: 110px;
        width: 170px;
        color: #000;
        vertical-align: top;
        text-align: right;
        font-size: 0.75em;
        border-right: 1px solid $border_gray;
        border-bottom: 1px solid $border_gray;
        transition-duration: 0.2s;

        .num {
            font-size: 1.1em;
            font-weight: bold;
            display: block;
            border-bottom: 1px dashed $border_gray;
            padding-right: 0.2em;
            margin-bottom: 0.4em;
        }

        ul {
            text-decoration: none;
            text-align: left;
            padding: 0;
            margin: 0;

            li {
                margin-left: 17px;
                margin-bottom: 0.2em;

                i.fa {
                    color: orange;
                }

                a {
                    text-decoration: none;
                    color: #222;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        &:hover {
            background: rgba(0, 0, 255, 0.3);
            color: white;

            .num {
                font-weight: bold;
            }

            ul li a {
                font-weight: normal;
            }
        }
    }

    .noday {
        background: #f1f1f1;
    }

    .today {
        background: rgba(255, 255, 100, 0.5);
    }

    tr td:first-child {
        border-left: 1px solid #aaa;
    }
}

#banner {
    padding-bottom: 1em;

    a.date {
        display: block;
        text-decoration: none;
        text-align: center;
        line-height: 1.3;
        font-size: 2.3em;
        padding-bottom: 0.15em;

        &:link, &:visited {
            color: #5B80B9;
        }

        &:hover {
            color: #0645AD;
        }
    }

    .time {
        text-align: center;
        display: block;
        color: rgb(85, 85, 85);
        font-size: $base_font_size;
    }
}

.time-left {
    text-align: left;
    color: #777;
    padding-top: 0.5em;
}

.contest-list {
    td {
        vertical-align: middle !important;

        &:nth-child(2) {
            min-width: 4em;
        }

        &:nth-child(3) {
            min-width: 6em;
        }
    }

    tbody tr {
        height: 4em;
    }

    .floating-time-left {
        position: absolute;
        left: 0;
    }

    .floating-time-right {
        position: absolute;
        right: 0;
        line-height: 1.2em;
    }

    .floating-time {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .contest-tags {
        padding-left: 0.75em;
        vertical-align: top;
    }

    .contest-tag-hidden {
        background-color: #000000;
        color: #ffffff;
    }


    .participate-button {
        display: inline-block;
        width: 90px;
    }

    .contest-block {
        text-align: left;
        padding: 0.5em 0.5em 0.5em 1em;
    }
}

.first-solve {
    background: #00f9a1;
}

.contest-tag {
    box-shadow: inset 0 -0.1em 0 rgba(0, 0, 0, 0.12);
    padding: 0.15em 0.3em;
    border-radius: 0.15em;
    font-weight: 600;
    margin-right: 0.45em;
    position: relative;
}

.contest-tag-edit {
    background-color: green
}

.contest-tag-private {
    background-color: #666666;
    color: #ffffff;
}

.contest-tag-org {
    background-color: #cccccc;

    a {
        color: #000000;
    }
}

.contest-tag-rated {
    background-color: #e54c14;
    color: #ffffff;
}

.contest-list-title {
    font-size: 18px;
    font-weight: 600;
}

.contest-list-sort {
    color: #7dc7ff;
}

form.contest-join-pseudotab {
    display: inline;
    line-height: 1.7em;
    margin-left: auto;
    float: right;

    input {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

.contest-participation-operation {
    float: right;

    .fa {
        color: #444;
    }

    a + a {
        padding-left: 1px;
    }

    padding: 0 5px;
}

#add-clarification {
    float: left;
    color: chartreuse;
}

#add-clarification:hover {
    color: cyan;
}
