#problem-table {
    td {
        &.category {
            text-align: left;
            padding: 0 1em;
        }

        &.problem {
            text-align: left;
            padding-left: 1em;
            width: 100%;
        }

        &.pcode {
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-all;
        }

        &.pp {
            text-align: left;
            padding-left: 1em;
            width: 100%;
        }

        &.users {
            text-align: left;
            padding: 0 1em;
            white-space: nowrap;
        }

        &.types {
            text-align: left;
            padding: 0 1em;
        }

        &.ac-rate {
            white-space: nowrap;
        }

        &.points {
            white-space: nowrap;
        }
    }

    tr {
        transition: background-color linear 0.2s;

        &:hover {
            background: #eaeaea;
        }
    }
}

#filter-form {
    vertical-align: top;
    margin-bottom: 0.5em;
    margin-top: 0.75em;

    a {
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
    }

    input {
        vertical-align: middle;
        margin-bottom: 0.5em;
    }

    label {
        vertical-align: middle;
    }

    .filter-form-group {
        margin-top: 15px;
    }
}

#content-right {
    &.problems {
        flex: 25%;
        max-width: unset;
        padding-top: 0;
        padding-left: 0;
    }
}

#content-left {
    &.problems {
        flex: 73.5%;
    }
}

#search {
    width: 100%;
    height: 2.3em;
}

label[for="category"], label[for="type"] {
    padding-bottom: 0.25em;
    display: block;
}

#category {
    margin-top: 0.5em;
    width: 100%;
}

#types {
    width: 100%;
}

span.type-tag {
    // white-space: nowrap;
}

ul.problem-list {
    list-style: none;
    padding-left: 1em;
    padding-right: 0.5em;

    li {
        margin-bottom: 0.5em;
    }
}

.pi-name {
    font-weight: bold;
}

.pi-name:after {
    content: " ";
}

.authors-value, .judges-value {
    padding-left: 1.5em;
}

.lang-name:after {
    content: ": ";
}

.lang-limit {
    margin-left: 1.5em;
}

.solved-problem-color {
    color: #44AD41;
}

.unsolved-problem-color {
    color: #DE2121;
}

.attempted-problem-color {
    color: orange;
}

.submissions-left {
    color: black;
    font-weight: 600;
    text-align: center;
    margin-top: 0.5em;
}

.no-submissions-left {
    color: red;
}

.organization-tags {
    padding-left: 0.75em;
    display: flex;
}

.organization-tag {
    display: flex;
    align-items: center;
    padding: 0.15em 0.3em;
    border-radius: 0.15em;
    font-weight: 600;
    margin-right: 0.45em;
    position: relative;
    background-color: #ccc;
    color: initial;
    min-height: 1.5em;
}

.organization-tag a {
    color: #000;
}

.pdf-icon {
    position: relative;
    display: inline-block;
    font-size: 1.5em;

    .pdf-icon-logo {
        color: #d40e13;
    }

    .pdf-icon-bar {
        height: 0.2em;
        display: block;
        position: absolute;
        top: 0.3em;
        background: #d40e13;
        width: 0.6em;
        margin-left: -0.15em;
    }
}

.license {
    float: left;
    font-size: 0.85em;

    a {
        color: gray;
        text-decoration: none;
    }
}

.clarify {
    float: right;
}

#problem_submit {
    width: 100%;
    box-sizing: border-box;

    .button {
        display: inline-block !important;
        padding: 6px 12px;
    }
    .submit-bar {
        float: right;
    }

    #submit-wrapper {
        margin-top: 0.7em;
    }

    #submit-wrapper #editor, #submit-wrapper #language {
        margin-top: 4px;
    }

    #id_language {
        width: 100%;
    }

    #result-version-info {
        border-bottom: 1px solid rgb(148, 148, 148);
        margin: 0px 1em;
        color: #757575;
        font-weight: 600;
        padding: 0.2em 0;
        text-align: right;
    }

    #language-select2 .select2-results__message {
        white-space: nowrap
    }

    #language-select2.select2-dropdown--above {
        display: flex;
        flex-direction: column-reverse;
    }

    #language-select2 .select2-results__option {
        color: #757575 !important;
        background: white !important;
    }

    #language-select2 .select2-results__option--highlighted {
        text-decoration: underline;
    }

    #language-select2 .select2-results__option[aria-selected=true] {
        font-weight: bold;
        color: black !important;
    }

    #language-select2 .select2-results__option {
        padding: 4px 0px;
    }

    #language-select2 .select2-results__options {
        overflow-y: visible !important;
    }

    #language-select2 .select2-results__option {
        break-inside: avoid-column;
    }

    #language-select2 .select2-results {
        -webkit-columns: 10 7em;
        -moz-columns: 10 7em;
        columns: 10 7em;
        padding-left: 1.5em;
        padding-top: 0.5em;
    }
}

@media (max-width: 550px) {
    #problem-table tr :nth-child(6) {
        display: none;
    }
}

@media (max-width: 500px) {
    #problem-table tr :nth-child(4) {
        display: none;
    }
}

@media (max-width: 350px) {
    #problem-table tr :nth-child(3) {
        display: none;
    }
}

#problem-table th a {
    color: inherit;
    display: block;
    padding: 4px 10px;
}

#filter-form .form-label {
    margin-top: 0.5em;
    font-style: italic;
}

#point-slider {
    margin: 30px 15px 10px;
    height: 10px;

    .noUi-handle {
        height: 20px;
        width: 16px;
        left: -8px;
    }

    .noUi-handle:before, .noUi-handle:after {
        top: 3px;
        height: 12px;
    }

    .noUi-handle:before {
        left: 5px;
    }

    .noUi-handle:after {
        left: 8px;
    }

    .noUi-tooltip {
        height: 17px;
        line-height: 13px;
        padding: 0 3px;
        font-size: 13px;
    }
}

.pcodecell {
    text-transform: uppercase;
}

.problem-data-form {
    .bad-file input, .bad-file .select2-selection {
        border-color: red;
    }
}

.problem-clarification {
    border-bottom: 1px solid #ccc;
    margin-top: 1em;
    margin-bottom: 1em;
}
#clarification_header {
    color: red;
    cursor: pointer;
}
#clarification_header:hover {
    color: orange;
}

#comment-announcement {
    margin-top: 1em;
    background-color: lightgray;
    border-radius: 30px;
    padding: 0.5em;
    text-align: center;
    cursor: pointer;
    color: dimgrey;
    font-weight: bold;
}

#comment-announcement:hover {
    background-color: gray;
}

@media (max-width: 799px) {
    .problem-middle-right {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (min-width: 800px) {
    #problem-table {
        .pcode {
            min-width: 7em;
        }
    }
}

.new-problem-info {
    background-color: #fff6dd;
    border-radius: 25px;
    font-size: 14px;
    height: 25px;
    width: 98%;
    display: table;
    padding: 5px 10px;
    margin-top: 14px;
    border: solid;
    border-color: black;
    border-width: 0.1px;
}

.info-block {
    display:table-cell;
    vertical-align:middle;
    margin-right: auto;
}

@media screen and (min-width: 1100px) {
    .d-flex-problem {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}