.AB {
    background-color: #CCC;
    color: black;
}

.AC {
    background-color: #53f23f;
    color: green;
}

._AC {
    background-color: #DFFF00;
    color: green;
}

.WA {
    background-color: #CCC;
    color: #ef1b53;
}

.TLE, .MLE {
    background-color: #CCC;
    color: black;
}

.OLE, .IR, .RTE, .OTH {
    background-color: #FAB623;
    color: black;
}

.CE {
    background-color: #CCC;
    color: black;
}

.IE {
    background-color: #ef1b53;
    color: black;
}

.QU, .G {
    background: white;
    color: black;
}

.judge-online {
    color:#44AD41;
}

.judge-offline {
    color:#DE2121;
}
