@import "vars";
.info-float {
    position: sticky;
    top: 60px;
    width: 20%;
}

.submission-row {
    display: flex;
    transition: background-color linear 0.2s;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    align-items: center;
    padding: 10px;
    background: white;

    .sub-result {
        display: flex;
        align-items: center;
        font-weight: 600;
        gap: 10px;

        .state {
            padding: 5px 10px;
            border-radius: 15px;
        }

        .language {
            background-color: #e1e1e1;
            border-radius: 5px;
            padding: 2px 8px;
        }

        .score {
            font-size: 1.2em;
        }
    }

    .sub-details {
        flex-grow: 1;
        overflow: hidden;
    }

    .sub-info {
        flex: 1;
        display: flex;
        gap: 5px;
        font-size: 1.2em;
        margin-bottom: 10px;

        .name {
            font-weight: 700;
        }

        .name:hover {
            text-decoration: underline;
        }
    }

    .sub-testcase {
        color: #555;
        white-space: nowrap;
    }

    .sub-prop {
        a {
            white-space: nowrap;
        }
    }

    .sub-usage {
        margin-left: auto;
        white-space: nowrap;
        text-align: right;
        display: flex;
        flex-direction: column;
        gap: 4px;

        .time {
            font-weight: bold;
        }
    }
    .sub-user-img {
        flex-shrink: 0;
        width: 70px;
        height: 70px;
        background-color: #ddd;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 15px;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.sub-prop .fa {
    display: none;
}

label[for="language"], label[for="status"] {
    padding-bottom: 0.25em;
    display: block;
}

#language {
    margin-top: 0.5em;
    width: 100%;
}

#status {
    width: 100%;
}

#statistics-table tr:not(:first-child) td {
    border-top: 1px solid white !important;
}

#statistics-table tr:not(:last-child) td:not(:last-child) {
    border-right: 1px solid white;
}

#content-left.submission {
    flex: 70%;
}

#content-right.submission {
    flex: 12%;
    min-width: initial;
    max-width: 100%;
    padding-top: 0;
}

@media(max-width: 799px) {
    .submission-row {
        .sub-prop {
            .label {
                display: none;
            }

            .fa {
                display: inline-block;
            }
        }
        .sub-user-img {
            display: none;
        }
    }
    #fake-info-float {
        display: none;
    }

    #content-left.submission {
        flex: 100%;
    }

    #content-right.submission {
        display: none;
    }
}

.submission-contest {
    color: #555;
}

.statistics-table {
    .status {
        font-weight: bold;
        text-align: left;
    }

    .count {
        color: black;
    }
}

#test-cases {
    font-size: 1.1em;

    .batch-cases {
        margin: 0;
        padding-left: 1em;
        padding-bottom: 3px;
        padding-top: 3px;
    }

    // .batch-cases .case-row td b {
        //     font-weight: 500;
        // }

    .case-info {
        margin: 0;
        padding: 1em;
        border: 1px solid #2980b9;
        border-left-width: .5em;
        border-radius: 4px;
        color: #222;
    }

    .case-output {
        margin: 0;
        margin-top: 1em;
        box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
        margin: 1rem 0;
        padding: 1em 1em;
        border-radius: .28571429rem;
        border: 1px solid rgba(34,36,38,.15);
        font-family: Consolas;
    }

    .testcases-table {
        width: 100%;
        border: groove;
        border-radius: 0.5em;
        border-spacing: 0;

        thead td:first-child {
            border-top-left-radius: 0.5em;
        }

        thead td:last-child {
            border-top-right-radius: 0.5em;
        }

        td {
            padding: 0.6em 0.8em;
            width: 18.75%;

        }

        .case-row td:nth-child(2) {
            width: 25%;
        }

        .case-row:hover {
            cursor: pointer;
        }

    }

    .toggle {
        font-weight: normal;
    }


    .case-feedback {
        vertical-align: top;
    }

    .case-ext-feedback {
        width: 50%;
    }
}

#overall-row:hover {
    cursor: default !important;
}

.overall-result-AC {
    background: linear-gradient(45deg, #a8ff78, #78ffd6);
}

.overall-result-WA {
    background: linear-gradient(45deg, yellow, red);
}

.overall-result-TLE {
    background: linear-gradient(45deg, #D7DDE8, #757F99);
}

.overall-result-RTE,
.overall-result-MLE {
    background: linear-gradient(45deg,  #fceabb, #f8b500)
}

.col-title {
    font-weight: bold;
}

.case-AC {
    color: green;
    font-weight: bold;
}

.case-_AC {
    color: red;
    font-weight: bold;
}

.case-WA {
    color: red;
    font-weight: bold;
}

.case-TLE, .case-SC {
    color: gray;
    font-weight: bold;
}

.case-MLE, .case-OLE, .case-RTE, .case-IR {
    color: orange;
    font-weight: bold;
}

.half-hr {
    float: left;
    width: 30%;
}

.source-wrap {
    .line {
        position: relative;
    }

    .highlighter {
        position: absolute;
        width: 9999px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    a:active .line .highlighter {
        background: rgba(255, 212, 0, 0.48);
    }
}

.submission-info {
    text-align: right;
    float: right;

    .submission-date {
        color: gray;
    }
}

@media (min-width: 800px) {
    .lightbox-submissions {
        .lightbox-submissions-time {
            padding-right: 1em;
        }
        td {
            padding-right: 0.2em;
            font-size: 1.2em;
        }
    }
}
