@import "vars";

.table {
    border-spacing: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    background: rgba(0, 0, 0, 0.01);

    &.striped tr:nth-child(even) {
        background: #f7f7f7;
    }

    &.striped tr:nth-child(odd) {
        background: white;
    }

    &.no-border {
        td, th {
            border: none;
        }
    }

    th:first-child, td:first-child {
        border-width: 1px 1px 0 1px;
    }

    tr:last-child td {
        border-bottom-width: 1px;
    }

    thead th {
        vertical-align: middle;
    }

    th {
        height: 2em;
        color: black;
        background-color: #DAA520;
        border-color: #cccccc;
        border-width: 1px 1px 0 0;
        border-style: solid;
        padding: 4px 10px;
        vertical-align: middle;
        text-align: center;
        font-weight: 600;
        font-size: 1.1em;
    }

    td {
        border-color: $border_gray;
        border-width: 1px 1px 0 0;
        border-style: solid;
        padding: 7px 5px;
        vertical-align: middle;
        text-align: center;
    }
}

#users-table th a {
    color: white;
}

.feed-table {
    td, td:first-child, tr:last-child td, tr:last-child td:first-child {
        border-width: 1px 0 0 0;
    }
}