$highlight_blue: white;
$widget_black: #00007d;//68BBE3, add8e6
$border_gray: #ccc;
$background_gray: #ededed;
$background_light_gray: #fafafa;
$announcement_red: #ae0000;

$base_font_size: 14px;
$widget_border_radius: 4px;

$monospace-fonts: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
