{% extends "two-column-content.html" %}
{% block two_col_media %}
  <style>
  </style>
{% endblock %}

{% block js_media %}
  <script type="text/javascript">
    $(function () {
      // Function to handle the "Mark private" button click
      $(".mark-private-button").on("click", function () {
        const button = $(this);
        const problemDiv = button.closest(".problem-container");
        const problemId = button.data("problem-id");

        $.ajax({
          url: "{{url('internal_mark_problem_private')}}",
          type: "POST",
          data: {
            id: problemId,
          },
          success: function (response) {
            problemDiv.hide();
          },
          error: function () {
            console.log("An error occurred. Please try again.");
          },
        });
      });
    });
  </script>
{% endblock %}

{% block left_sidebar %}
  {% include "internal/left-sidebar.html" %}
{% endblock %}

{% block middle_content %}
  {% if page_obj.num_pages > 1 %}
    <div style="margin-top:10px;">{% include "list-pages.html" %}</div>
    <br>
  {% endif %}
  {% for problem in problems %}
    <div class="problem-container" style="display: flex; gap: 1em;">
      <div class="blog-box" style="width: 100%">
        <h3 class="problem-feed-name">
          <a href="{{ url('problem_detail', problem.code) }}">
            {{ problem.name }}
          </a>
        </h3>
        {% with authors=problem.get_authors() %}
          {% if authors %}
            <div class="problem-feed-info-entry">
              <i class="far fa-pen-to-square"></i>
              <span class="pi-value">{{ link_users(authors) }}</span>
            </div>
          {% endif %}
        {% endwith %}
        <div class="problem-feed-types">
          <i class="fa fa-tag"></i>
          {% for type in problem.types_list %}
            <span class="type-tag">{{ type }}</span>{% if not loop.last %}, {% endif %}
          {% endfor %}, *{{problem.points | int}}
        </div>
        <div class="blog-description">
          <div class='content-description'>
            {{ problem.description|markdown(lazy_load=True)|reference|str|safe }}
            {% if problem.pdf_description %}
              <embed src="{{url('problem_pdf_description', problem.code)}}" width="100%" height="500" type="application/pdf"
                     style="margin-top: 0.5em">
            {% endif %}
          </div>
          <div class="show-more"> {{_("...More")}} </div>
        </div>
      </div>
      <div>
        <button class="small mark-private-button" data-problem-id="{{ problem.id }}">
          {{_("Mark private")}}
        </button>
      </div>
    </div>
  {% endfor %}
  {% if page_obj.num_pages > 1 %}
    <div style="margin-top:10px;">{% include "list-pages.html" %}</div>
  {% endif %}
{% endblock %}