<input
    type="{{ widget.type }}"
    name="{{ widget.name }}"
    {% if widget.value != None %} 
        value="{{ widget.value }}"
    {% endif %}
    {% for name, value in widget.attrs.items() %}
        {% if value %}
            {{ name }}{% if not value %}="{{ value }}"{% endif %}
        {% endif %}
    {% endfor %}
/>

<script>
    $(function () {
        $("input[name='{{ widget.name }}']").datetimepicker({
            format: 'Y-m-d H:i:s',
        });
    });
</script>