{% if widget.is_initial %}
  <div>
    <a href="{{widget.value.url}}" target=_blank>
      <img src="{{widget.value.url}}" width="{{widget.width}}" height="{{widget.height}}" style="border-radius: 3px;">
    </a>
    <div>
      {{ widget.input_text }}:
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}">
{% if widget.is_initial %}
  </div>
  {% if not widget.required %}
    <div style="margin-top: 5px;">
      <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
      <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label|default(_('Remove')) }}</label>
    </div>
  {% endif %}
  </div>
{% endif %}