{% compress js %}
  <script type="text/javascript">
    $(document).ready(function () {
      function ajax_vote(url, id, delta, on_success) {
        return $.ajax({
          url: url,
          type: 'POST',
          data: {
            id: id,
            delta: delta
          },
          success: function (data, textStatus, jqXHR) {
            var score = $('#pagevote-score-' + id);
            score.text(data.current_score);;
            if (typeof on_success !== 'undefined')
              on_success();
          },
          error: function (data, textStatus, jqXHR) {
            alert('Could not vote: ' + data.responseText);
          }
        });
      }

      var get_$votes = function (id) {
        var $post = $('#page-vote-' + id);
        return {
          upvote: $('#like-button-' + id),
          downvote: $('#dislike-button-' + id),
        };
      };

      window.pagevote_upvote = function (id, e) {
        e.stopPropagation();
        var $votes = get_$votes(id);
        if ($votes.upvote.hasClass('voted')) {
          ajax_vote('{{ url('pagevote_vote') }}', id, 0, function () {
            $votes.upvote.removeClass('voted');
          });
        } else {
          ajax_vote('{{ url('pagevote_vote') }}', id, 1, function () {
            if ($votes.downvote.hasClass('voted'))
              $votes.downvote.removeClass('voted');
            $votes.upvote.addClass('voted');
          });
        }
      };

      window.pagevote_downvote = function (id, e) {
        e.stopPropagation();
        var $votes = get_$votes(id);
        if ($votes.downvote.hasClass('voted')) {
          ajax_vote('{{ url('pagevote_vote') }}', id, 0, function () {
            $votes.downvote.removeClass('voted');
          });
        } else {
          ajax_vote('{{ url('pagevote_vote') }}', id, -1, function () {
            if ($votes.upvote.hasClass('voted'))
              $votes.upvote.removeClass('voted'); // Remove upvote if it exists
            $votes.downvote.addClass('voted');
          });
        }
      };

      function ajax_bookmark(url, id, on_success) {
        return $.ajax({
          url: url,
          type: 'POST',
          data: {
            id: id
          },
          success: function (data, textStatus, jqXHR) {
            if (typeof on_success !== 'undefined')
              on_success();
          },
          error: function (data, textStatus, jqXHR) {
            alert('Could not bookmark: ' + data.responseText);
          }
        });
      }

      window.bookmark = function(id, e) {
        e.stopPropagation();
        var $bookmark = $('#bookmark-button-' + id);
        if ($bookmark.hasClass('bookmarked')) {
          ajax_bookmark('{{ url('undobookmark') }}', id, function () {
            $bookmark.removeClass('bookmarked');
          });
        } else {
          ajax_bookmark('{{ url('dobookmark') }}', id, function () {
            if ($bookmark.hasClass('bookmarked'))
              $bookmark.removeClass('bookmarked');
            $bookmark.addClass('bookmarked');
          });
        }
      }

      window.actionbar_share = function(element, e) {
        e.stopPropagation();
        link = $(element).attr("share-url") || window.location.href;
        navigator.clipboard
          .writeText(link)
          .then(() =>  {
            showTooltip(element, "{{_('Copied link')}}", 'n');
          });
      };

      // Original page comment section toggle (for detail pages)
      $('.actionbar-comment:not([data-content-type-id])').on('click', function() {
        if ($('#comment-section').css('display') == 'none') {
          $('#comment-section').show();
        } else {
          $('#write-comment').click();
        }
      });

      /**
       * Toggle inline comments for feed items
       * Lazily loads a compact comment section below the post/problem card
       */
      window.toggle_inline_comments = function(element, e) {
        e.stopPropagation();

        var $button = $(element);
        var contentTypeId = $button.data('content-type-id');
        var objectId = $button.data('object-id');

        if (!contentTypeId || !objectId) return;

        // Find the closest inline-comments-container
        var $container = $button.closest('.blog-box, section').find('.inline-comments-container');
        if ($container.length === 0) return;

        // Toggle visibility
        if ($container.is(':visible')) {
          $container.slideUp(200);
          $button.removeClass('active');
          return;
        }

        $button.addClass('active');

        // Check if already loaded
        if ($container.data('loaded')) {
          $container.slideDown(200);
          return;
        }

        // Show loading indicator
        $container.html('<div class="inline-comments-loading"><i class="fa fa-spinner fa-pulse"></i> {{ _("Loading comments...") }}</div>');
        $container.slideDown(200);

        // Load comments via AJAX
        $.ajax({
          url: '{{ url("get_comments") }}',
          type: 'GET',
          data: {
            content_type_id: contentTypeId,
            object_id: objectId,
            compact: 1
          },
          success: function(data) {
            $container.html(data);
            $container.data('loaded', true);

            // Initialize any KaTeX rendering
            if (typeof renderKatex === 'function') {
              renderKatex($container[0]);
            }

            // Initialize time display
            if (typeof register_time === 'function') {
              register_time($container.find('.time-with-rel'));
            }
          },
          error: function() {
            $container.html('<div class="inline-comments-error">{{ _("Failed to load comments") }}</div>');
          }
        });
      };
    });
  </script>
{% endcompress %}