<div class="blog-box">
    <h3 class="problem-feed-name">
        <a href="{{ ticket.linked_item.get_absolute_url() }}">
            {{ ticket.linked_item|item_title }}</a>
        &#183
        <a href="{{ url('ticket', ticket.id) }}">
            {{ ticket.title }}
        </a>
    </h3>
    {% with author=ticket.user %}
        {% if author %}
            <div class="problem-feed-info-entry">
                <i class="fa fa-pencil-square-o fa-fw"></i>
                <span class="pi-value">{{ link_user(author) }}</span>
            </div>
        {% endif %}
    {% endwith %}
    <div class="problem-feed-types">
        <i class="fa fa-tag"></i>
        {{link_user(ticket.messages.last().user)}} {{_(' replied')}}
    </div>
    <div class='blog-description content-description'>
        {{ ticket.messages.last().body |markdown("ticket", MATH_ENGINE)|reference|str|safe }}
    </div>
</div>