<section id="message-{{ message.id }}" class="message">

  <div class="detail">
    <div class="header">
      <div class="info">
        <a class="user-container" href="{{ url('user_page', message.user.user.username) }}" class="user">
          <img loading="lazy" src="{{ gravatar(message.user, 135) }}" class="gravatar">
          <span class="username {{ message.user.css_class }}">{{ message.user.user.username }}</span>
        </a>
      </div>
      <div class="spacer"></div>
      <div class="send-time">
        <div class="relative-time"></div>
        <div class="message-date">{{ message.time|date('DATE_FORMAT') }}</div>
        <div class="message-time">{{ message.time|time('TIME_FORMAT') }}</div>
      </div>
    </div>
    <div class="content content-description">
      {{ message.body|markdown|reference|str|safe }}
    </div>
  </div>
</section>
