{% extends "problem/list-base.html" %}
{% block left_sidebar %}
  {% include "problem/left-sidebar.html" %}
{% endblock %}
{% block problem_list_js %}
  {% include "comments/editor-libs-js.html" %}
  {% include "feed/feed_js.html" %}
{% endblock %}

{% block middle_content %}
  <button id="problem-filter-toggle" type="button" class="action-btn outlined"
          aria-expanded="false" aria-controls="content-right">
    <i class="fa fa-filter" aria-hidden="true"></i>{{ _('Filters') }}
  </button>
  <div class="tabs page-tabs">
    <ul>
      <li class="{{'active' if feed_type=='for_you'}}">
        <a href="{{url('problem_feed')}}"{% if feed_type == 'for_you' %} aria-current="page"{% endif %}>{{_('For you')}}</a>
      </li>
      <li class="{{'active' if feed_type=='new'}}">
        <a href="{{url('problem_feed_new')}}"{% if feed_type == 'new' %} aria-current="page"{% endif %}>{{_('New')}}</a>
      </li>
    </ul>
  </div>
  {% include "problem/feed/items.html" %}
{% endblock %}
