<div class="blog-box">
    <h3 class="problem-feed-name">
        <a href="{{ url('problem_detail', problem.code) }}">
            {{ problem.name }}
        </a>
        {% if problem.id in completed_problem_ids %}
            <i class="solved-problem-color fa fa-check-circle"></i>
        {% elif problem.id in attempted_problems %}
            <i class="attempted-problem-color fa fa-minus-circle"></i>
        {% else %}
            <i class="unsolved-problem-color fa fa-minus-circle"></i>
        {% endif %}
    </h3>
    {% with authors=problem.authors.all() %}
        {% if authors %}
            <div class="problem-feed-info-entry">
                <i class="fa fa-pencil-square-o fa-fw"></i>
                <span class="pi-value">{{ link_users(authors) }}</span>
            </div>
        {% endif %}
    {% endwith %}
    {% if show_types %}
        <div class="problem-feed-types">
            <i class="fa fa-tag"></i>
            {% for type in problem.types_list %}
                <span class="type-tag">{{ type }}</span>{% if not loop.last %}, {% endif %}
            {% endfor %}, *{{problem.points | int}}
        </div>
    {% endif %}
    <div class='blog-description content-description'>
        {% cache 86400 'problem_html' problem.id MATH_ENGINE LANGUAGE_CODE %}
            {{ problem.description|markdown("problem", MATH_ENGINE)|reference|str|safe }}
        {% endcache %}
    </div>
</div>