{% extends "base.html" %}

{% block js_media %}
  {% include "comments/media-js.html" %}
  {% include "actionbar/media-js.html" %}
{% endblock %}

{% block media %}
  {% include "comments/media-css.html" %}
{% endblock %}

{% block title_row %}
{% endblock %}

{% block title_ruler %}
{% endblock %}

{% block body %}
  <div class="post-full">
    <div class="post-title">{{ title }}</div>
    <div class="time" style="display: flex; align-items: center;">
      {% if organizations %}
        {% for org in organizations %}
          {% with edit_url = url('edit_organization_blog', org.id , org.slug , post.id) if org in editable_orgs else None %}
            {% include "organization/tag.html" %}
          {% endwith %}
        {% endfor %}
      {% endif %}
      {% with authors=post.get_authors() %}
        {% if authors %}
          <span class="post-authors">{{ link_users(authors) }}</span>
        {% endif %}
      {% endwith %}
      <span class="post-time" style="margin-left: 0.3em;">
        {% trans time=post.publish_on|date(_("N j, Y, g:i a")) %} posted on {{ time }}{% endtrans %}
      </span>
      {% if post.is_editable_by(request.user) %}
        <span> [<a href="{{ url('admin:judge_blogpost_change', post.id) }}">{{ _('Edit') }}</a>]</span>
      {% endif %}
    </div>

    <div class="body content-description">
      {% cache 86400 'post_content' post.id %}
        {{ post.content|markdown|reference|str|safe}}
      {% endcache %}
    </div>
    {% include "actionbar/list.html" %}
  </div>
  <hr style="width: 60%; margin:4em auto;">
  {% include "comments/list.html" %}
{% endblock %}
