{% for post in posts%}
  <section class="{% if post.sticky %}sticky {% endif %}blog-box">
    <div style="margin-bottom: 0.5em">
      <span class="post-content-header time">
        {% with authors=post.authors.all() %}
          {%- if authors -%}
            <span class="user-img" style="width: 1.5em; height: 1.5em">
              <img src="{{gravatar(authors[0])}}">
            </span>
            <span class="post-authors">{{ link_users(authors) }}</span>
          {%- endif -%}
        {% endwith %}
        &#8226;
        {{ relative_time(post.publish_on) }}
        {%- if post.sticky %} &#8226;
          <i title="Sticky" class="fa fa-star fa-fw"></i>{% endif -%}
        {% if post.is_organization_private and show_organization_private_icon %}
          &#8226;
          <span>
            {% for org in post.organizations.all() %}
              <span class="organization-tag" style="display: inherit;">
                <a href="{{ org.get_absolute_url() }}">
                  <i class="fa fa-lock"></i> {{ org.name }}
                </a>
              </span>
            {% endfor %}
          </span>
        {% endif %}
      </span>
      <span style="float: right">
        <a href="{{ url('blog_post', post.id, post.slug) }}#comments" class="blog-comment-count-link">
          <i class="fa fa-comments blog-comment-icon"></i>
          <span class="blog-comment-count">
            {{- post.comments.filter(hidden=False).count() or 0 -}}
          </span>
        </a>
      </span>
    </div>
    <h2 class="title">
      <a href="{{ url('blog_post', post.id, post.slug) }}">{{ post.title }}</a>
    </h2>
    <div class="blog-description">
      <div class="summary content-description">
        {% cache 86400 'post_summary' post.id %}
          {{ post.summary|default(post.content, true)|markdown(lazy_load=True)|reference|str|safe }}
        {% endcache %}
      </div>
      <div class="show-more"> {{_("...More")}} </div>
    </div>
    <div class="actionbar-box">
      {% set pagevote = post.get_or_create_pagevote() %}
      {% set bookmark = post.get_or_create_bookmark() %}
      {% set hide_actionbar_comment = True %}
      {% set include_hr = False %}
      {% set share_url = request.build_absolute_uri(post.get_absolute_url()) %}
      {% include "actionbar/list.html" %}
    </div>
  </section>
{% endfor %}
{% include "feed/has_next.html" %}