{% compress css %}
  <style>
    footer {
      display: none;
    }

    #content {
      padding-top: 0;
      margin-bottom: 0;
    }

    ::-webkit-scrollbar {
      width: 16px;
      background-color: transparent !important;
    }

    #chat-input::-webkit-scrollbar {
      width: 22px;
    }
    #chat-input::-webkit-scrollbar-thumb {
      border: 10px solid transparent;
    }

    ::-webkit-scrollbar-track {
      background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #d6dee1;
      border-radius: 20px;
      border: 6px solid transparent;
      background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #a8bbbf;
    }

    #page-container {
      width: 100%;
    }

    .body-message img{
      max-height: 12em;
    }

    .tooltip:not(.shown) {
      display: none;
    }

    textarea {
      resize: none;
    }

    .tooltip {
      position: absolute;
      z-index: 1000;
    }

    #loader {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80px;
    }
    .profile-pic {
      height: 2.6em;
      width: 2.6em;
      margin-top: 0.1em;
      float: left;
    }
    .body-message {
      padding-left: 3em;
      padding-bottom: 0.5em;
    }
    .user-time {
      margin-bottom: 0.3em;
    }
    .time {
      margin-left: 0.5em;
    }
    .clear {
      clear: both;
    }
    .content-message {
      word-wrap: break-word;
    }
    .content-message p {
      margin: 0;
    }
    #content {
      width: 100%;
    }
    #content-body {
      padding-bottom: 0;
    }
    #page-container {
      min-height: 0;
    }
    .sidebox h3 {
      border-radius: 0;
    }
    .body-block {
      border-radius: 4px;
      padding: 0.05em 0.6em;
      width: 100%;
    }
    #search-form {
      float: inherit;
    }
    #search-container {
      padding: 1em;
    }
    #setting {
      position: relative;
    }
    .setting-button {
      height: 2.3em;
      width: 2.5em;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding-top: 2px;
    }
    .user-setting-button {
      height: 2.3em;
      width: 2.5em;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding-top: 2px;
    }
    .status-user {
      display: flex;
      flex-direction: column;
      min-width: 0;
      flex-grow: 1;
    }
    .wrapline {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    #chat-input-container {
      display: flex;
      align-items: center;
      gap: 1em;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      text-align: left;
    }
    #chat-input {
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 100px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease-in-out;
      width: 80%;
      resize: none;
      height: 70%;
      max-height: 200px;
      overflow-y: auto;
      margin-top: auto;
      margin-bottom: 6px;
    }
    #chat-input:focus {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      outline: none;
    }
    .chat-input-icon {
      font-size: 16px;
      border-radius: 50%;
      width: 2em;
      height: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid;
    }
    .chat-input-icon:hover {
      cursor: pointer;
    }
    #chat-area {
      display: flex;
      flex-direction: column;
    }
    .info-circle {
      position: absolute;
      cx: 5px;
      cy: 5px;
      r: 5px;
      stroke: white;
      stroke-width: 1;
    }
    .info-pic {
      border-radius: 50%;
    }
    #chat-info {
      height: 3em;
      padding-left: 0.75em;
      display: flex;
      align-items: center;
    }

    @media (min-width: 800px) {
      #page-container {
        position:fixed;
        overflow:hidden;
      }
      #chat-input-container {
        padding-left: 3%;
      }
      .back-button {
        display: none;
      }
    }
    @media (max-width: 799px) {
      html, body {
        max-width: 100%;
        overflow-x: hidden;
      }
      .active-span {
        display: none;
      }
      {% if not room %}
        #chat-area {
          display: none;
        }
      {% else %}
        .chat-left-panel {
          display: none;
        }
      {% endif %}
      .back-button {
        margin-right: 1em;
        font-size: 1.5em;
      }
    }
  </style>
{% endcompress %}