<style>
    #content {
        margin: -1em 1em 0 0;
    }
    #refresh-button {
        padding: 0;
        margin-left: auto;
        margin-right: 0.3em;
        background: transparent;
        border: none;
        height: 1.5em;
        width: 1.5em;
    }
    #refresh-button:hover {
        background: lightgreen;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        transition: 1.5s ease-in-out;
    }
    .status-pic {
        height: 1.3em;
        width: 1.3em;
        border-radius: 0.3em;
    }
    .status-container {
        position: relative;
        display: inline-flex;
    }
    .status-circle {
        position: absolute; 
        bottom: 0; 
        right: 0;
        cx: 18px;
        cy: 18px;
        r: 4.5px;
        stroke: white;
        stroke-width: 1;
    }
    .status-row {
        display: flex;
        margin-bottom: 0.5em;
        font-size: 15px;
    }
    .status-list {
        padding: 0;
        padding-left: 1em;
    }
    .status-section-title {
        cursor: pointer;
        margin-top: 0.5em;
    }
    ::-webkit-scrollbar {
        width: 20px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
    }

    #page-container {
        width: 100%;
    }

    .body-message img{
        max-height: 12em;
    }

    .tooltip:not(.shown) {
        display: none;
    }
    
    textarea {
        resize: none;
    }

    .tooltip {
        left: 120vh !important;
        transform: translate(100px, 0) !important;
        position: absolute;
    }

    #loader {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 4%;
    }
    .profile-pic {
        height: 2.6em;
        width: 2.6em;
        border-radius: 0.3em;
        margin-top: 0.1em;
        float: left;
    }
    .body-message {
        padding-left: 3em;
        padding-bottom: 0.5em;
        border-bottom: 1px dotted lightgray;
    }
    .user-time {
        margin-bottom: 0.3em;
    }
    .time {
        margin-left: 0.5em;
    }
    .clear {
        clear: both;
    }
    .content-message {
        word-wrap: break-word;
    }
    .content-message p {
        margin: 0;
    }
    #content {
        width: 100%;
    }
    #content-body {
        padding-bottom: 0;
    }
    #page-container {
        min-height: 0;
    }
    .sidebox h3 {
        border-radius: 0;
        margin: -1px -5.5px 0 -5.8px;
    }
    .body-block {
        border-radius: 4px;
        padding-left: 0.2em;
    }
    .body-block:hover {
        background: #eee;
    }
    #chat-input, #chat-log .content-message {
        font-family: "Apple Color Emoji", "Segoe UI", "Lucida Grande", Arial, sans-serif;
    }
    @media (min-width: 800px) {
        #page-container {
            position:fixed;
            overflow:hidden;
        }
    }
    @media (max-width: 799px) {
        html, body {
            max-width: 100%;
            overflow-x: hidden;
        }
        #mobile ul {
            width: 100%;
        }
    }
</style>
