{% if not lobby_hidden %}
  <li class="status-row" id="lobby_row" data-room="{{ lobby_room.id }}" data-room-url="{{ url('chat', lobby_room.id) }}">
    <div class="status-container">
      <img loading="lazy" src="{{ static('icons/icon.svg') }}" class="status-pic lobby-icon">
    </div>
    <div class="status-user">
      <span class="status-username"><b>{{_('Lobby')}}</b></span>
    </div>
    {% if unread_count_lobby and unread_count_lobby > 0 %}
      <span class="unread-count" id="unread-count-lobby" data-count="{{ unread_count_lobby }}" aria-label="{{ _('%(count)s unread messages', count=unread_count_lobby) }}">
        {{ '99+' if unread_count_lobby > 99 else unread_count_lobby }}
      </span>
    {% endif %}
  </li>
{% endif %}
{% set section = status_sections[0] %}
<div class="chat-recent-header">
  <h4>{{ _('Recent') }}</h4>
  <div class="chat-room-filters" role="group" aria-label="{{ _('Filter rooms') }}">
    {% for key, label in [('all', _('All')), ('conversations', _('Conversations')), ('channels', _('Channels'))] %}
      <button type="button" class="chat-room-filter{% if section.key == key %} is-active{% endif %}"
              data-room-filter="{{ key }}" aria-pressed="{{ 'true' if section.key == key else 'false' }}">
        {{ label }}
      </button>
    {% endfor %}
  </div>
</div>
<ul class="status-list" data-room-section="{{ section.key }}">
  {% for room_item in section.room_list %}
    <li class="click_space status-row" id="room_row_{{room_item.room}}" data-user-id="{{room_item.user.id if room_item.user else ''}}" data-room="{{room_item.room}}" data-room-url="{{ url('chat', room_item.room) }}" data-is-self="{{ '1' if room_item.is_self else '0' }}">
      <div class="status-container">
        {% if room_item.user %}
          <img loading="lazy" src="{{ public_gravatar(room_item.user, request.user, 135) }}" class="status-pic user-img">
          <span class="status-circle {{ 'online' if room_item.is_online else 'offline' }}"></span>
        {% elif room_item.avatar_url %}
          <img loading="lazy" src="{{ room_item.avatar_url }}" class="status-pic room-avatar" alt="">
        {% else %}
          <span class="status-room-icon" aria-hidden="true"><i class="fa {{ 'fa-users' if room_item.room_type == 'group' else 'fa-hashtag' }}"></i></span>
        {% endif %}
      </div>
      <div class="status-user">
        <span class="username {{ room_item.user.css_class if room_item.user else '' }} wrapline">
          {{ room_item.name }}
          {% if room_item.is_self %}
            <span class="gray">&nbsp;({{ _('You') }})</span>
          {% endif %}
        </span>
        {% if room_item.last_msg %}
          <span class="status_last_message status-last-message wrapline" id="last_msg-{{room_item.room}}">
            {{ room_item.last_msg }}
          </span>
        {% endif %}
      </div>
      {% if room_item.unread_count and room_item.unread_count > 0 %}
        <span class="unread-count" id="unread-count-room-{{room_item.room}}" data-count="{{ room_item.unread_count }}" aria-label="{{ _('%(count)s unread messages', count=room_item.unread_count) }}">
          {{ '99+' if room_item.unread_count > 99 else room_item.unread_count }}
        </span>
      {% endif %}
      {% if room_item.user and not room_item.is_self %}
        <div class="setting-wrapper">
          <div class="control-button small setting-button">
            <i class="fa fa-ellipsis-h"></i>
          </div>
          <div class="setting-content">
            <a href="{{url('toggle_ignore', room_item.user.id)}}" class="red">
              {{_('Ignore')}}
            </a>
          </div>
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% if not section.room_list %}
  <p class="chat-recent-empty">{{ _('No rooms found.') }}</p>
{% endif %}
{% if section.has_more %}
  <button type="button" class="action-btn small chat-load-more chat-load-more-rooms" data-room-section="{{ section.key }}" data-cursor="{{ section.next_cursor }}">{{ _('Load more') }}</button>
{% endif %}
