{% if reaction_sections %}
  <div class="reaction-list">
    {% for section in reaction_sections %}
      <section class="reaction-list-section">
        <h4 class="reaction-list-heading">
          {% if chat_reaction_image_urls and section.code in chat_reaction_image_urls %}
            <img class="reaction-img reaction-list-heading-emoji" src="{{ chat_reaction_image_urls[section.code] }}" alt="{{ section.label }}">
          {% else %}
            <span class="reaction-list-heading-emoji">{{ section.emoji }}</span>
          {% endif %}
          <span class="reaction-list-heading-label">{{ section.label }}</span>
          <span class="reaction-list-heading-count">{{ section.total }}</span>
        </h4>
        <ul class="reaction-list-users">
          {% for profile_id in section.users %}
            <li class="reaction-list-item">
              <img loading="lazy" src="{{ public_gravatar(profile_id, request.user, 40) }}" class="reaction-list-avatar user-img">
              <span class="reaction-list-user">{{ link_user(profile_id) }}</span>
            </li>
          {% endfor %}
        </ul>
        {% if section.has_more %}
          <p class="reaction-list-more">
            {{ _("Showing first %(limit)s of %(total)s.", limit=section.displayed_count, total=section.total) }}
          </p>
        {% endif %}
      </section>
    {% endfor %}
  </div>
{% else %}
  <p class="reaction-list-empty">{{ _('No reactions yet.') }}</p>
{% endif %}
