<div class="sidebox quiz-search-box">
  <h3 class="colored-text"><i class="fa fa-search" aria-hidden="true"></i>{{ _('Search') }}</h3>
  <div class="sidebox-content">
    <form id="filter-form" method="GET">
      <label class="sr-only" for="search-quiz">{{ _('Search') }}</label>
      <div>
        <input id="search-quiz" type="text" name="search" value="{{ search or '' }}"
               placeholder="{{ _('Search quizzes...') }}">
      </div>
      <div class="form-submit-group">
        <button id="go" type="submit" class="action-btn small">{{ _('Search') }}</button>
        {% if request.user.is_authenticated %}
          <a href="{{ url('quiz_create') }}" class="action-btn small outlined quiz-create-link">
            <i class="fa fa-plus" aria-hidden="true"></i>{{ _('Create') }}
          </a>
        {% endif %}
      </div>
    </form>
  </div>
</div>
