<h3>{{_('Votes for problem') }} {{problem.name}}</h3>
<ol>
  {% for vote in votes %}
    <li>
      <h4> {{link_user(vote.voter)}} </h4>
      <table class="table">
        <tbody>
          <tr>
            <td style="width:10%">{{_('Knowledge')}}</td>
            <td>{{vote.knowledge_points}}</td>
          </tr>
          <tr>
            <td>{{_('Thinking')}}</td>
            <td>{{vote.thinking_points}}</td>
          </tr>
          <tr>
            <td>{{_('Types')}}</td>
            <td>{{vote.types.all() | join(', ')}}</td>
          </tr>
          <tr>
            <td>{{_('Feedback')}}</td>
            <td>{{vote.feedback}}</td>
          </tr>
        </tbody>
      </table>
    </li>
  {% endfor %}
</ol>
</div>
