{% extends "base.html" %}

{% block media %}
    {% block content_media %}{% endblock %}
{% endblock %}

{% block js_media %}
    {% compress js %}
        <script src="{{ static('libs/clipboard/clipboard.js') }}"></script>
        <script type="text/javascript">
            $(function () {
                var info_float = $('.info-float');
                if (info_float.length) {
                    var container = $('#content-right');
                    if (window.bad_browser) {
                        container.css('float', 'right');
                    } else if (!featureTest('position', 'sticky')) {
                        fix_div(info_float, 55);
                        $(window).resize(function () {
                            info_float.width(container.width());
                        });
                        info_float.width(container.width());
                    }
                }

                var copyButton;
                $('pre code').each(function () {
                    $(this).parent().before($('<div>', {'class': 'copy-clipboard'})
                        .append(copyButton = $('<span>', {
                            'class': 'btn-clipboard',
                            'data-clipboard-text': $(this).text(),
                            'title': 'Click to copy'
                        }).text('Copy')));

                    $(copyButton.get(0)).mouseleave(function () {
                        $(this).attr('class', 'btn-clipboard');
                        $(this).removeAttr('aria-label');
                    });

                    var curClipboard = new Clipboard(copyButton.get(0));

                    curClipboard.on('success', function (e) {
                        e.clearSelection();
                        showTooltip(e.trigger, 'Copied!');
                    });

                    curClipboard.on('error', function (e) {
                        showTooltip(e.trigger, fallbackMessage(e.action));
                    });

                });
            });
        </script>
    {% endcompress %}
    {% block content_js_media %}{% endblock %}
{% endblock %}

{% block body %}
    <div id="common-content">
        <div id="content-right">
            <div class="info-float">{% block info_float %}{% endblock %}</div>
        </div>
        <div id="content-left" class="split-common-content">
            <div class="content-description screen">
                {% block description %}{% endblock %}
                {% block description_end %}
                    <hr>
                {% endblock %}
            </div>
            {% block post_description_end %}{% endblock %}
            {% block comments %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block bodyend %}
    {% if REQUIRE_JAX %}
        {% include "mathjax-load.html" %}
        <script>
            // TODO: remove this
            window.MathJax = {
              options: {
                ignoreHtmlClass: 'tex2jax_ignore',
                processHtmlClass: 'tex2jax_process',
                renderActions: {
                  find: [10, function (doc) {
                    for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
                      const display = !!node.type.match(/; *mode=display/);
                      const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
                      const text = document.createTextNode('');
                      const sibling = node.previousElementSibling;
                      node.parentNode.replaceChild(text, node);
                      math.start = {node: text, delim: '', n: 0};
                      math.end = {node: text, delim: '', n: 0};
                      doc.math.push(math);
                      if (sibling && sibling.matches('.MathJax_Preview')) {
                        sibling.parentNode.removeChild(sibling);
                      }
                    }
                  }, '']
                }
              }
            };
        </script>
    {% endif %}
{% endblock %}
