<div class="wmd-wrapper {% if image_upload_enabled %}image-upload-enabled{% endif %}">
  <div class="wmd-panel">
    <div id="wmd-button-bar-{{ postfix }}"></div>
    <textarea id="wmd-input-{{ postfix }}" {{ attrs|safe }}>{{ body }}</textarea>
  </div>
  {% if show_preview %}
    <div id="{{ postfix|safe }}-preview" data-preview-url="{{ preview_url }}" data-textarea-id="wmd-input-{{ postfix }}"
      data-timeout="{{ preview_timeout or '' }}" class="wmd-panel wmd-preview dmmd-preview {{ extra_classes }}">
      <div class="dmmd-preview-update"><i class="fa fa-refresh"></i> {{_('Update Preview')}}</div>
      <div class="dmmd-preview-content content-description"></div>
    </div>
  {% endif %}
  {% if image_upload_enabled %}
    <div class="pagedown-image-upload">
      <h2>{{_("Insert Image")}}</h2>
      <div class="form-row">
        <div>
          <label class="label">{{_("From the web")}}</label>
          <input class="url-input" type="text" placeholder="http://" />
        </div>
      </div>
      <br>
      <div class="form-row">
        <div>
          <label class="label">{{_("From your computer")}}</label>
          <input class="file-input" type="file" name="image" id="file" data-action="{{ url('pagedown-image-upload') }}" accept="image/*"/>
        </div>
      </div>
      <div class="submit-row">
        <div class="submit-loading"></div>
        <input class="submit-input show small" type="submit" value="{{_('Save')}}" name="_addanother">
        <p class="deletelink-box"><a href="#" class="close-image-upload deletelink">{{_("Cancel")}}</a></p>
      </div>
    </div>
  {% endif %}
</div>