<li id="comment-{{ item.id }}" data-revision="{{ item.revision_count - 1 }}" data-max-revision="{{ item.revision_count - 1 }}"
    data-revision-ajax="{{ url('comment_revision_ajax', item.id) }}" class="comment">
  <div class="comment-wrapper">
    <div class="user-img">
      <img loading="lazy" src="{{gravatar(item.author_id)}}">
    </div>
    <div class="comment-content">
      <div class="body-header">
        <div class="header">
          <span class="author">{{ link_user(item.author_id, show_image=False) }}</span> •
          <span class="time">{{ relative_time(item.time, abs=_('{time}'), rel=_('{time}')) }}</span> •
          {% if item.revision_count > 1 %}
            <span class="comment-edits">
              <a href="javascript:show_revision({{ item.id }}, -1)" class="previous-revision">&larr;</a>
              <span class="comment-edit-text">
                {% if item.revision_count > 2 %}
                  {% trans edits=item.revision_count - 1 %}edit {{ edits }}{% endtrans %}
                {% else %}
                  {{ _('edited') }}
                {% endif %}
              </span>
              <a href="javascript:show_revision({{ item.id }}, 1)" style="visibility: hidden"
                 class="next-revision">&rarr;</a>
            </span>
          {% else %}
            <span class="comment-edits"></span>
          {% endif %}
        </div>
        <div class="body">
          <div class="comment-body" {% if item.score <= vote_hide_threshold %} style="display:none" {% endif %}>
            {{ item.body|markdown(lazy_load=True)|reference|str|safe }}
          </div>
          {% if item.score <= vote_hide_threshold %}
            <div class="comment-body bad-comment-body">
              <p>
                {% trans id=item.id %}This comment is hidden due to too much negative feedback. Click <a
                  href="javascript:comment_show_content({{ id }})">here</a> to view it.{% endtrans %}
              </p>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="action-bar">
        <div class="vote">
          {% if profile %}
            <a href="javascript:comment_upvote({{ item.id }})"
               class="upvote-link {% if item.vote_score == 1 %} voted{% endif %}">
              <i class="icofont-arrow-up"></i>
            </a>
            <span class="comment-score">{{ item.score }}</span>
            <a href="javascript:comment_downvote({{ item.id }})"
               class="downvote-link{% if item.vote_score == -1 %} voted{% endif %}">
              <i class="icofont-arrow-down"></i>
            </a>
          {% else %}
            <a href="javascript:alert('{{ _('Please login to vote')|escapejs }}')"
               title="{{ _('Please login to vote') }}" class="upvote-link">
              <i class="icofont-arrow-up"></i>
            </a>
            <span class="comment-score">{{ item.score }}</span>
            <a href="javascript:alert('{{ _('Please login to vote')|escapejs }}')"
               title="{{ _('Please login to vote') }}" class="downvote-link">
              <i class="icofont-arrow-down"></i>
            </a>
          {% endif %}
        </div>
        <a href="javascript:reply_comment({{ item.id }})" title="{{ _('Reply') }}" class="action-link reply-link"><i class="fa-regular fa-comment-dots"></i>{{_('Reply')}}</a>
        <a href="?target_comment={{ item.id }}#comment-{{ item.id }}" title="{{ _('Share') }}" class="action-link share-link"><i class="fa fa-link fa-fw"></i>{{_('Share')}}</a>
        {% if profile and not comment_lock %}
          {% set can_edit = item.author_id == profile.id and not profile.mute %}
          {% if can_edit %}
            <a data-featherlight="{{ url('comment_edit_ajax', item.id) }}" href="#" title="{{ _('Edit') }}" class="action-link edit-link">
              <i class="fa fa-pencil fa-fw"></i>{{_('Edit')}}
            </a>
          {% endif %}
          {% if perms.judge.change_comment %}
            <a href="javascript:hide_comment({{ item.id }})" title="{{ _('Hide') }}" data-id="{{ item.id }}" class="action-link">
              <i class="fa fa-trash fa-fw"></i>{{_('Hide')}}
            </a>
          {% endif %}
        {% endif %}
      </div>
      {% set count_replies=item.count_replies %}
      {% if count_replies and not item.get_children() %}
        <div>
          <a href="javascript:comment_get_replies({{ item.id }}, 0)" class="show_more_reply">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-forward" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M15 11l4 4l-4 4m4 -4h-11a4 4 0 0 1 0 -8h1"></path>
            </svg>
            {{ count_replies }}
            {% trans trimmed count=count_replies %}
              reply
              {% pluralize count %}
              replies
            {% endtrans %}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</li>
<ul id="comment-{{ item.id }}-reply" class="reply-comment" hidden></ul>