<div class="comment-edit-modal">
  <form id="comment-edit" action="{{ request.get_full_path() }}" method="post">
    <span style="display: none" class="comment-id">{{ comment.id }}</span>
    <span style="display: none" class="read-back">{{ url('comment_content', comment.id) }}</span>
    {% csrf_token %}
    <input type="hidden" name="body" id="edit-comment-body-hidden" value="">
    <div id="edit-comment-editor-container"
         class="editor-container"
         data-initial-value="{{ comment.body|e }}"
         data-preview-url="{{ url('comment_preview') }}"></div>
    <div class="edit-comment-actions">
      <button type="submit" class="action-btn">{{ _('Save') }}</button>
      <button type="button" class="action-btn close-modal">{{ _('Cancel') }}</button>
    </div>
  </form>
</div>
