{% for comment in comments %}
  <div class="blog-box">
    <h3 class="problem-feed-name">
      <a href="{{ comment.get_absolute_url() }}">
        {{ comment.page_title }}
      </a>
    </h3>
    {% with author_id=comment.author_id %}
      {% if author_id %}
        <div class="problem-feed-info-entry">
          <i class="far fa-pen-to-square"></i>
          <span class="pi-value">{{ link_user(author_id) }}</span>
        </div>
      {% endif %}
    {% endwith %}
    <div class='blog-description content-description'>
      {{ comment.body|markdown(lazy_load=True)|reference|str|safe }}
      <div class="show-more"> {{_("...More")}} </div>
    </div>
  </div>
{% endfor %}
{% include "feed/has_next.html" %}