{% extends "stats/base.html" %}
{% block media %}
  <style>
    .chart {
      margin: 10px 0;
    }
  </style>
{% endblock %}

{% block chart_body %}
  <h3>{{ _('Submission Statistics') }}</h3>
  <div id="status-counts" class="chart">
    <canvas width="400" height="300"></canvas>
  </div>

  <h3>{{ _('Submissions by Language') }}</h3>
  <div id="lang-all" class="chart">
    <canvas width="400" height="300"></canvas>
  </div>

  <h3>{{ _('AC Submissions by Language') }}</h3>
  <div id="lang-ac" class="chart">
    <canvas width="400" height="300"></canvas>
  </div>

  <h3>{{ _('Language AC Rate') }}</h3>
  <div id="ac-rate" class="chart">
    <canvas><canvas>
    </div>
{% endblock %}

{% block bodyend %}
  {{ data_all_script }}
  {{ lang_ac_script }}
  {{ status_counts_script }}
  {{ ac_rate_script }}
  <script type="text/javascript">
    $(function () {
      Chart.defaults.global.scaleFontFamily =
        Chart.defaults.global.tooltipFontFamily =
        Chart.defaults.global.tooltipTitleFontFamily =
        $('body').css('font-family');

      function readJsonData(id) {
        return JSON.parse(document.getElementById(id).textContent);
      }

      draw_pie_chart(readJsonData('language-data-all'), $('#lang-all'));
      draw_pie_chart(readJsonData('language-ac-data'), $('#lang-ac'));
      draw_pie_chart(readJsonData('language-status-counts-data'), $('#status-counts'));
      draw_bar_chart(readJsonData('language-ac-rate-data'), $('#ac-rate'));
    });
  </script>
{% endblock %}
