{% extends "stats/base.html" %}
{% block media %}
  <style>
    .graph {
      padding-bottom: 3em;
    }
  </style>
{% endblock %}

{% block chart_body %}
  <div class="graph">
    <div id="submissions" class="chart">
      <canvas width="90%" height="300"></canvas>
    </div>
    <center><h3>{{ _('Submissions') }}</h3></center>
  </div>
  <div class="graph">
    <div id="contests" class="chart">
      <canvas width="90%" height="300"></canvas>
    </div>
    <center><h3>{{ _('Contests') }}</h3></center>
  </div>
  <div class="graph">
    <div id="new_users" class="chart">
      <canvas width="90%" height="300"></canvas>
    </div>
    <center><h3>{{ _('New users') }}</h3></center>
  </div>
  <div class="graph">
    <div id="groups" class="chart">
      <canvas width="90%" height="300"></canvas>
    </div>
    <center><h3>{{ _('Groups') }}</h3></center>
  </div>
  <div class="graph">
    <div id="comments" class="chart">
      <canvas width="90%" height="300"></canvas>
    </div>
    <center><h3>{{ _('Comments') }}</h3></center>
  </div>
  <div class="graph">
    <div id="chat_messages" class="chart">
      <canvas width="90%" height="300"></canvas>
    </div>
    <center><h3>{{ _('Chat messages') }}</h3></center>
  </div>
{% endblock %}

{% block bodyend %}
  {{ submissions_script }}
  {{ new_users_script }}
  {{ comments_script }}
  {{ chat_messages_script }}
  {{ contests_script }}
  {{ groups_script }}
  <script type="text/javascript">
    $(function () {
      Chart.defaults.global.scaleFontFamily =
        Chart.defaults.global.tooltipFontFamily =
        Chart.defaults.global.tooltipTitleFontFamily =
        $('body').css('font-family');

      function readJsonData(id) {
        return JSON.parse(document.getElementById(id).textContent);
      }

      draw_timeline(readJsonData('site-submissions-data'), $('#submissions'));
      draw_timeline(readJsonData('site-new-users-data'), $('#new_users'));
      draw_timeline(readJsonData('site-comments-data'), $('#comments'));
      draw_timeline(readJsonData('site-chat-messages-data'), $('#chat_messages'));
      draw_timeline(readJsonData('site-contests-data'), $('#contests'));
      draw_timeline(readJsonData('site-groups-data'), $('#groups'));
    });
  </script>
{% endblock %}
