{% extends "base.html" %}

{% block body %}
  <div class="question-delete-page">
    {% if used_in_quizzes %}
      <div class="alert alert-danger">
        <i class="fa fa-exclamation-triangle"></i>
        {{ _('Warning: This question is used in the following quizzes:') }}
        <ul>
          {% for quiz in used_in_quizzes %}
            <li><a href="{{ url('quiz_detail', quiz.code) }}">{{ quiz.title }}</a></li>
          {% endfor %}
        </ul>
        <p>{{ _('You must remove it from these quizzes before deleting.') }}</p>
      </div>
    {% else %}
      <p>{{ _('Are you sure you want to delete this question?') }}</p>
      <p><strong>{{ object.title }}</strong></p>

      <form method="post">
        {% csrf_token %}
        <button type="submit" class="action-btn background-red">
          <i class="fa fa-trash"></i> {{ _('Delete Question') }}
        </button>
        <a href="{{ url('question_bank_detail', object.pk) }}" class="btn btn-default">
          {{ _('Cancel') }}
        </a>
      </form>
    {% endif %}
  </div>
{% endblock %}
