{% extends "two-column-content.html" %}

{% block js_media %}
  {% block users_js_media %}{% endblock %}
  {% include "user/base-users-js.html" %}
{% endblock %}

{% block two_col_media %}
  <link href="http://fonts.cdnfonts.com/css/jersey-m54" rel="stylesheet">
  {% block users_media %}{% endblock %}
{% endblock %}

{% block middle_content %}
  {% if page_obj and page_obj.num_pages > 1 %}
    <div style="margin-bottom: 7px; margin-top: 3px;">
      {% include "list-pages.html" %}
      <form id="search-form" name="form" action="{{ url('user_ranking_redirect') }}" method="get">
        <input id="search-handle" type="text" name="search"
               placeholder="{{ _('Search by handle...') }}">
      </form>
      <div style="clear:both"></div>
    </div>
  {% endif %}

  {% block before_table %}{% endblock %}

  <div style="overflow-x: auto;">
    <table id="users-table" class="table striped no-border">
      {% block users_table %}{% endblock %}
    </table>
  </div>

  {% if page_obj and page_obj.num_pages > 1 %}
    <div style="margin-top:10px;">{% include "list-pages.html" %}</div>
  {% endif %}
{% endblock %}
