{% extends "user/base-users.html" %}

{% block users_media %}
    <style>
        #users-table td:nth-child(3), #users-table th:nth-child(3) {
            border-right: none;
            text-align: left;
        }
        .rank-td {
            font-family: "Jersey M54";
            font-size: large;
        }
        .user-points, .user-problem-count, .rating-td {
            font-family: cursive;
        }
    </style>
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% if request.GET.get('friend') == 'true'%}
        {% set tab = 'friends' %}
    {% else %}
        {% set tab = 'list' %}
    {% endif %}
    {% set title = 'Leaderboard' %}
    {% include "user/user-list-tabs.html" %}
{% endblock %}

{% block users_table %}
    {% include "user/users-table.html" %}
{% endblock %}