{% extends "user/base-users-three-col.html" %}

{% block users_media %}
    <style>
        #users-table td:nth-child(3), #users-table th:nth-child(3) {
            border-right: none;
            text-align: left;
        }
        .rank-td {
            font-family: "Jersey M54";
            font-size: large;
        }
        .user-points, .user-problem-count, .rating-td {
            font-family: cursive;
        }
    </style>
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}{% endblock %}

{% block left_sidebar %}
    {% include "user/user-left-sidebar.html" %}
{% endblock %}

{% block users_table %}
    {% include "user/users-table.html" %}
{% endblock %}