{% extends "user/user-base.html" %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'bookmark' %}
    {% include "user/user-tabs.html" %}
{% endblock %}

{% block user_content %}
    {% if blogs %}
        <div class="bookmark-group">
            <h3 class="unselectable toggle closed">
                <span class="fa fa-chevron-right fa-fw"></span>{{ _('Posts') }} ({{ blogs|length }})
            </h3>
            <table style="display: none" class="table toggled">
                <tbody>
                {% for post in blogs %}
                    <tr>
                        <td class="bookmark-name">
                            <a href="{{ url('blog_post', post.bookmark.page_object().id, post.bookmark.page_object().slug) }}">{{ post.bookmark.page_object().title}} </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    {% if problems %}
    <div class="bookmark-group">
        <h3 class="unselectable toggle closed">
            <span class="fa fa-chevron-right fa-fw"></span>{{ _('Problems') }} ({{ problems|length }})
        </h3>
        <table style="display: none" class="table toggled">
            <tbody>
            {% for problem in problems %}
                <tr>
                    <td class="bookmark-name">
                        <a href="{{ url('problem_detail', problem.bookmark.page_object().code) }}">{{ problem.bookmark.page_object().name}} </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if contests %}
    <div class="bookmark-group">
        <h3 class="unselectable toggle closed">
            <span class="fa fa-chevron-right fa-fw"></span>{{ _('Contests') }} ({{ contests|length }})
        </h3>
        <table style="display: none" class="table toggled">
            </thead>
            <tbody>
            {% for contest in contests %}
                <tr>
                    <td class="bookmark-name">
                        <a href="{{ url('contest_view', contest.bookmark.page_object().key) }}">{{ contest.bookmark.page_object().name}} </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if solutions %}
    <div class="bookmark-group">
        <h3 class="unselectable toggle closed">
            <span class="fa fa-chevron-right fa-fw"></span>{{ _('Editorials') }} ({{ solutions|length }})
        </h3>
        <table style="display: none" class="table toggled">
            </thead>
            <tbody>
            {% for solution in solutions %}
                <tr>
                    <td class="bookmark-name">
                        <a href="{{ url('problem_editorial', solution.bookmark.page_object().problem.code) }}">{{ solution.bookmark.page_object().problem.name}} </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

{% endblock %}
